Repository Wchoi189/upstageailab-ocr-recsys-competition-ocr-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-diagram-updates, validate-agentqms-artifacts, ads-compliance-check, forbid-pip-install

.pre-commit-config.yaml:

# This is the standard configuration file for pre-commit hooks.
# It helps catch and fix issues automatically before code is even committed.
# To use, run `pre-commit install` in your local repository.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Using a more recent version
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Run Ruff's formatter and linter.
    rev: v0.5.0 # Using a more recent version
    hooks:
      - id: ruff
        name: ruff-linter-fixer
        args: [--fix, --unsafe-fixes, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1 # Using a more recent version
    hooks:
      - id: mypy
        # You can customize args and dependencies to match your project's needs
        additional_dependencies: [types-Pillow, types-tqdm, types-PyYAML, types-shapely]
        files: ^(ocr/|services/|agent_qms/)

  - repo: local
    hooks:
      - id: validate-handbook-manifest
        name: validate-handbook-manifest
        entry: uv run python scripts/agent_tools/documentation/validate_manifest.py
        language: system
        pass_filenames: false
        args: [docs/agents/index.json]

      - id: check-diagram-updates
        name: check-diagram-updates
        entry: uv run python scripts/generate_diagrams.py --check-changes
        language: system
        pass_filenames: false
        files: ^(ocr/|ui/|configs/|scripts/generate_diagrams\.py)

      - id: frontend-eslint
        name: frontend-eslint
        entry: npm run lint --workspace frontend
        language: system
        pass_filenames: false

      - id: frontend-type-check
        name: frontend-type-check
        entry: npm run type-check --workspace frontend
        language: system
        pass_filenames: false

      - id: console-eslint
        name: console-eslint
        entry: npm run lint --workspace apps/playground-console
        language: system
        pass_filenames: false

      - id: validate-agentqms-artifacts
        name: validate-agentqms-artifacts
        entry: uv run python AgentQMS/agent_tools/compliance/validate_artifacts.py --no-refresh
        language: system
        pass_filenames: true
        files: ^docs/artifacts/.*\.md$
        exclude: /archive/

      - id: ads-compliance-check
        name: ADS v1.0 Compliance Check
        entry: uv run python .ai-instructions/schema/compliance-checker.py
        language: system
        # Validate tier1-sst and tier2-framework only (pure YAML)
        # Exclude: DEPRECATED/, tier3-agents/*.yaml (hybrid), tier4-workflows/ (hybrid docs)
        files: ^\.ai-instructions/(tier1-sst|tier2-framework)/.*\.yaml$
        pass_filenames: true

      - id: forbid-pip-install
        name: forbid-pip-install
        entry: uv run python scripts/ci/forbid_pip_install.py
        language: system
        files: ^(scripts/.*\.(sh|py)|AgentQMS/interface/Makefile)$

fix(agentqms): resolve CI plugin validation errors
  .github/workflows/ci.yml
  AgentQMS/.agentqms/plugins/_examples/example_artifact.yaml
  AgentQMS/.agentqms/plugins/artifact_types/audit.yaml
  AgentQMS/.agentqms/plugins/artifact_types/change_request.yaml
  AgentQMS/.agentqms/plugins/artifact_types/ocr_experiment.yaml
  AgentQMS/.agentqms/state/plugins.yaml
Due: none

docs(agentqms): switch timestamps to KST, clarify schema-backed versioning
  AgentQMS/AGENTS.yaml
  AgentQMS/bin/Makefile
  AgentQMS/bin/README.md
Due: none

docs(agentqms): redesign README bottom half - reflect actual structure
  AgentQMS/bin/README.md
Due: none

refactor(agentqms): standardize plugin frontmatters to use ads_version
  AgentQMS/.agentqms/plugins/_examples/example_artifact.yaml
  AgentQMS/.agentqms/plugins/artifact_types/assessment.yaml
  AgentQMS/.agentqms/plugins/artifact_types/audit.yaml
  AgentQMS/.agentqms/plugins/artifact_types/bug_report.yaml
  AgentQMS/.agentqms/plugins/artifact_types/change_request.yaml
  AgentQMS/.agentqms/plugins/artifact_types/design_document.yaml
  AgentQMS/.agentqms/plugins/artifact_types/implementation_plan.yaml
  AgentQMS/.agentqms/plugins/artifact_types/ocr_experiment.yaml
  AgentQMS/.agentqms/plugins/artifact_types/vlm_report.yaml
  AgentQMS/.agentqms/plugins/artifact_types/walkthrough.yaml
  AgentQMS/.agentqms/plugins/context_bundles/agent-configuration.yaml
  AgentQMS/.agentqms/plugins/context_bundles/compliance-check.yaml
  AgentQMS/.agentqms/plugins/context_bundles/documentation-update.yaml
  AgentQMS/.agentqms/plugins/context_bundles/hydra-configuration.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-debugging.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-experiment.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-information-extraction.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-layout-analysis.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-text-detection.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-text-recognition.yaml
  AgentQMS/.agentqms/plugins/context_bundles/pipeline-development.yaml
  AgentQMS/.agentqms/plugins/context_bundles/security-review.yaml
  AgentQMS/.agentqms/plugins/validators.yaml
Due: none

fix(agentqms): remove all deprecated paths from workflow scripts
  AgentQMS/bin/workflows/compliance.sh
  AgentQMS/bin/workflows/init_framework.sh
  AgentQMS/bin/workflows/validate.sh
Due: none

fix(agentqms): update plugin schemas to accept ads_version
  AgentQMS/standards/schemas/plugin_artifact_type.json
  AgentQMS/standards/schemas/plugin_context_bundle.json
  AgentQMS/standards/schemas/plugin_validators.json
Due: none

docs(agentqms): add comprehensive audit and maintenance documentation
  docs/AGENTQMS_MAINTENANCE.md
  docs/artifacts/2026-01-10_1730_assessment-agentqms-architecture-audit.md
  docs/artifacts/assessments/2026-01-10_1730_assessment-agentqms-architecture-audit.md
Due: validate-agentqms-artifacts

feat: implement comprehensive multi-agent collaboration environment for OCR
  docker/multi-agent/.env.example
  docker/multi-agent/Dockerfile.agent
  docker/multi-agent/docker-compose.yml
  docs/multi-agent/DEVELOPER_GUIDE.md
  docs/multi-agent/IMPLEMENTATION_SUMMARY.md
  docs/multi-agent/QUICKSTART.md
  docs/multi-agent/README.md
  examples/multi_agent/ocr_workflow_example.py
  ocr/agents/base_agent.py
  ocr/agents/llm/__init__.py
  ocr/agents/llm/base_client.py
  ocr/agents/llm/grok_client.py
  ocr/agents/llm/openai_client.py
  ocr/agents/llm/qwen_client.py
  ocr/agents/ocr_inference_agent.py
  ocr/agents/ocr_preprocessing_agent.py
  ocr/agents/ocr_validation_agent.py
  ocr/agents/orchestrator_agent.py
  ocr/workers/__init__.py
  ocr/workers/job_queue.py
  ocr/workers/ocr_worker.py
  scripts/multi_agent/start_agents.sh
  scripts/multi_agent/stop_agents.sh
Due: check-diagram-updates, forbid-pip-install

docs: add comprehensive MCP infrastructure status report
  docs/multi-agent/MCP_STATUS_REPORT.md
Due: none

docs: add comprehensive MCP critical analysis and strategic roadmap
  docs/multi-agent/MCP_CRITICAL_ANALYSIS.md
Due: none

fix gitignorecase for artifact names
  agent-debug-toolkit/src/agent_debug_toolkit/mcp_server.py
  docs/artifacts/bug_reports/2025-11-28_0000_bug_001_dominant-edge-extension-failure.md
  docs/artifacts/bug_reports/2025-12-02_2313_bug_001_inference-studio-overlay-misalignment.md
  docs/artifacts/bug_reports/2025-12-02_2335_bug_001_bootstrap-bug.md
  docs/artifacts/bug_reports/2025-12-03_0003_bug_001_inference-resize-misalignment.md
  docs/artifacts/bug_reports/2025-12-03_1100_bug_001_inference-studio-offsets-data-contract.md
  docs/artifacts/bug_reports/2025-12-03_2300_bug_002_inference-studio-visual-padding-mismatch.md
  docs/artifacts/bug_reports/2025-12-07_0047_bug_001_catastrophic-bulk-migration-incident.md
  docs/artifacts/bug_reports/2025-12-23_0900_bug_001_startup-latency.md
  docs/artifacts/bug_reports/2025-12-24_1000_bug_001_metadata-callback-import-error.md
  docs/artifacts/bug_reports/2025-12-27_0608_bug_001_model-head-lsp-violation.md
  docs/artifacts/bug_reports/2025-12-27_2124_bug_001_config-silent-failure.md
  docs/artifacts/bug_reports/2026-01-03_0340_bug_001_test-bug.md
  docs/artifacts/bug_reports/2026-01-03_1734_bug_001_state-dir-location.md
  docs/artifacts/bug_reports/2026-01-03_1812_bug_002_coordinate-inverse-orientation-mapping.md
  docs/artifacts/bug_reports/2026-01-03_1937_bug_003_mcp-server-resource-reading-failure.md
  docs/artifacts/bug_reports/2026-01-04_1700_bug_001_hydra-composition-crash.md
  docs/artifacts/bug_reports/2026-01-04_1715_bug_002_timm-vit-features-only.md
  docs/artifacts/bug_reports/2026-01-04_1730_bug_003_config-precedence-leak.ko.md
  docs/artifacts/bug_reports/2026-01-04_1730_bug_003_config-precedence-leak.md
  docs/artifacts/bug_reports/2026-01-07_0036_bug_001_test-mcp-artifact-creation.md
  docs/artifacts/bug_reports/archive/2025-01-01_1200_bug_001_inference-padding-scaling-mismatch.md
  docs/artifacts/bug_reports/archive/2025-01-02_1200_bug_002_fix-findings.md
  docs/artifacts/bug_reports/archive/2025-01-02_1200_bug_002_pil-image-transform-crash.md
  docs/artifacts/bug_reports/archive/2025-01-03_1200_bug_003_albumentations-contract-violation.md
  docs/artifacts/bug_reports/archive/2025-01-03_1200_bug_003_fix-findings.md
  docs/artifacts/bug_reports/archive/2025-01-04_1200_bug_004_polygon-shape-dimension-error.md
  docs/artifacts/bug_reports/archive/2025-01-10_1200_bug_010_empty-predictions-inference.md
  docs/artifacts/bug_reports/archive/2025-01-10_1200_bug_010_empty-predictions-resolution-plan.md
  docs/artifacts/bug_reports/archive/2025-01-11_1200_bug_011_inference-ui-coordinate-transformation.md
  docs/artifacts/bug_reports/archive/bug_2025_004_STREAMLIT_PANDAS_IMPORT_DEADLOCK.md
  docs/artifacts/bug_reports/archive/bug_2025_004_STREAMLIT_VIEWER_HANGING.md
  docs/artifacts/bug_reports/archive/bug_2025_005_RBF_INTERPOLATION_HANG.md
  docs/artifacts/bug_reports/archive/bug_REPORT_TEMPLATE.md
Due: validate-agentqms-artifacts

feat(extension): vs code extension WIP
  .mcp-telemetry.jsonl
  README.md
  agent-debug-toolkit/src/agent_debug_toolkit/config/tools.yaml
  agent-debug-toolkit/src/agent_debug_toolkit/config/tools.yaml.full
  docs/artifacts/assessments/2026-01-03_1200_assessment_layoutlmv3-kie-receipt-failure.ko.md
  docs/artifacts/assessments/2026-01-03_1200_assessment_layoutlmv3-kie-receipt-failure.md
  mcp-visibility-extension/.eslintrc.json
  mcp-visibility-extension/.gitignore
  mcp-visibility-extension/README.md
  mcp-visibility-extension/media/dashboard.html
  mcp-visibility-extension/package-lock.json
  mcp-visibility-extension/package.json
  mcp-visibility-extension/src/bundleProvider.ts
  mcp-visibility-extension/src/dashboardPanel.ts
  mcp-visibility-extension/src/extension.ts
  mcp-visibility-extension/src/telemetryWatcher.ts
  mcp-visibility-extension/tsconfig.json
  project_compass/active_context/current_session.yml
  project_compass/roadmap/05_mcp_visibility_dashboard.yaml
  project_compass/src/core.py
  scripts/mcp/unified_server.py
Due: validate-agentqms-artifacts, forbid-pip-install

fix(extension): visibility extension dashboard connection error fixed.
  .agentqms/plugins/context_bundles/multi-agent-system.yaml
  .agentqms/plugins/context_bundles/utility-scripts.yaml
  .agentqms/schemas/artifact_type_validation.yaml
  AgentQMS/.agentqms/context_control/system_state.json
  AgentQMS/.agentqms/plugins/artifact_types/design.yaml.deprecated
  AgentQMS/.agentqms/plugins/artifact_types/research.yaml.deprecated
  AgentQMS/.agentqms/plugins/artifact_types/template.yaml.deprecated
  AgentQMS/.agentqms/plugins/context_bundles/project-compass.yaml
  AgentQMS/.agentqms/state/plugins.yaml
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/bin/artifacts_violations_history.json
  AgentQMS/tools/utilities/context_control.py
  docs/artifacts/walkthroughs/mcp-critical-analysis.md
  mcp-visibility-extension/AUDIT_REPORT.md
  mcp-visibility-extension/DESIGN_DOCUMENT.md
  mcp-visibility-extension/IMPLEMENTATION_SUMMARY.md
  mcp-visibility-extension/extension-config-schema.yaml
  mcp-visibility-extension/mcp_optimization_task.md
  mcp-visibility-extension/media/dashboard.html
  mcp-visibility-extension/package.json
  mcp-visibility-extension/src/bundleProvider.ts
  mcp-visibility-extension/src/dashboardPanel.ts
  mcp-visibility-extension/src/extension.ts
  mcp-visibility-extension/src/policyProvider.ts
  mcp-visibility-extension/src/telemetryCache.ts
  mcp-visibility-extension/src/telemetryWatcher.ts
  project_compass/active_context/current_session.yml
  project_compass/design/mermaid.md
  project_compass/history/sessions/20260114_150312_agentqms-visibility-2026-01-14/active_context/current_session.yml
  project_compass/history/sessions/20260114_150312_agentqms-visibility-2026-01-14/manifest.json
  project_compass/history/sessions/20260114_150312_agentqms-visibility-2026-01-14/session_handover.md
  project_compass/history/sessions/20260114_150312_agentqms-visibility-2026-01-14/session_handover_20260114_150312.md
  project_compass/roadmap/05_mcp_visibility_dashboard.yaml
  project_compass/roadmap/06_mcp_dashboard_enhancements.yaml
  project_compass/roadmap/oldplan.md
  scripts/mcp/unified_server.py
Due: validate-agentqms-artifacts, forbid-pip-install

refactor(wandb_utils): Refactored wandb_utils and architecture.py.
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/standards/tier2-framework/dataset-catalog.yaml
  CHANGELOG.md
  DEBUG_WORKSPACE/2026-01-14_cuda_segfault/01_initial_analysis.md
  DEBUG_WORKSPACE/2026-01-14_cuda_segfault/02_investigation.md
  DEBUG_WORKSPACE/2026-01-14_cuda_segfault/03_findings.md
  DEBUG_WORKSPACE/2026-01-14_cuda_segfault/README.md
  configs/data/canonical.yaml
  configs/data/dataloaders/default.yaml
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/2026-01-15_0031_audit_ocr-experiment_wandb-utils-refactoring.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/2026-01-14_2153_bug_001_segfault.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  mcp-visibility-extension/session_handover_20260114_170507.md
  mcp-visibility-extension/src/telemetryWatcher.ts
  ocr/core/architecture.py
  ocr/core/models/__init__.py
  ocr/core/models/architecture.py
  ocr/core/utils/wandb_utils.py
  ocr/features/recognition/data/lmdb_dataset.py
  ocr/features/recognition/models/architecture.py
  project_compass/environments/dataset_registry.yml
  project_compass/history/handoffs/2026-01-14_1708_ai-feedback-tools-silent-failures.md
  project_compass/history/sessions/20260105_141032_20260103_session_01/active_context/blockers.yml
  project_compass/history/sessions/20260105_141032_20260103_session_01/active_context/current_session.yml
  project_compass/history/sessions/20260105_141032_20260103_session_01/manifest.json
  project_compass/history/sessions/20260111_035310_new-session-194103/active_context/current_session.yml
  project_compass/history/sessions/20260111_035310_new-session-194103/manifest.json
  project_compass/history/sessions/20260111_035310_new-session-194103/session_handover.md
  pyproject.toml
  tests/unit/test_architecture.py
  uv.lock
Due: check-diagram-updates, validate-agentqms-artifacts

fix(segfault): Resolved segmentation fault bug.
  AgentQMS/.mcp-telemetry.jsonl
  DEBUG_WORKSPACE/2026-01-14_cuda_segfault/README.md
  DEBUG_WORKSPACE/2026-01-16_recognition_prediction_failure/01_initial_analysis.md
  DEBUG_WORKSPACE/2026-01-16_recognition_prediction_failure/02_investigation.md
  DEBUG_WORKSPACE/2026-01-16_recognition_prediction_failure/03_findings.md
  DEBUG_WORKSPACE/2026-01-16_recognition_prediction_failure/README.md
  DEBUG_WORKSPACE/2026-01-16_recognition_prediction_failure/artifacts/2026-01-16_1521_tasks_debugging_zero_prediction.md
  configs/data/transforms/recognition.yaml
  configs/domain/recognition.yaml
  configs/model/architectures/parseq.yaml
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  docs/artifacts/walkthroughs/2026-01-16_0117_walkthrough_fix-recognition-empty-predictions-walkthrough.md
  notepad_train_cmds.md
  ocr/core/lightning/ocr_pl.py
  ocr/core/utils/wandb_utils.py
  ocr/features/recognition/data/lmdb_dataset.py
  ocr/features/recognition/models/architecture.py
  ocr/features/recognition/models/decoder.py
  ocr/features/recognition/models/merging.py
  project_compass/active_context/current_session.yml
  project_compass/compass.json
  project_compass/roadmap/svtr_transition.yaml
  project_compass/session_handover.md
Due: check-diagram-updates, validate-agentqms-artifacts

docs: Hydra refactor docs added
  ocr-refactor-prep/domain_leakage_rules.yaml
  ocr-refactor-prep/hydra_refactor/01_PROTOCOL_hydra_architectural_laws.md
  ocr-refactor-prep/hydra_refactor/02_SCRIPT_migration_auditor.py
  ocr-refactor-prep/hydra_refactor/03_SCRIPT_hydra_guard.py
  ocr-refactor-prep/hydra_refactor/04_TEMPLATE_global_paths.yaml
  ocr-refactor-prep/hydra_refactor/05_PROMPT_ai_architect_audit.md
  ocr-refactor-prep/hydra_refactor/06_TEMPLATE_domain_controller.yaml
  ocr-refactor-prep/hydra_refactor/07_GUIDE_refactor_execution.md
  ocr-refactor-prep/hydra_refactor/README.md
  ocr-refactor-prep/ocr core Critical Misclassifications & Leaks.md
  ocr-refactor-prep/ocr-adt-analyze-dependencies.md
  ocr-refactor-prep/ocr-adt-context-tree.md
  ocr-refactor-prep/ocr-configs-tree-123-files.md
  ocr-refactor-prep/ocr-tree-542-files.md
  project_compass/roadmap/oldplan.md
  show_config_debug.log
Due: none

fix: Project Compass containing stale reference to Experiment Manager.
  .devcontainer/mcp_servers.yaml
  AgentQMS/.mcp-telemetry.jsonl
  experiment_manager/mcp_server.py
  project_compass/AGENTS.md
  project_compass/AGENTS.yaml
  project_compass/CHANGELOG.md
  project_compass/CLI_REFERENCE.md
  project_compass/active_context/current_session.yml
  project_compass/cli.py
  project_compass/compass.json
  project_compass/env_check.py
  project_compass/environments/uv_lock_state.yml
  project_compass/history/sessions/20260117_172703_session-planning-refactor-01/active_context/current_session.yml
  project_compass/history/sessions/20260117_172703_session-planning-refactor-01/manifest.json
  project_compass/history/sessions/20260117_172703_session-planning-refactor-01/session_handover.md
  project_compass/history/sessions/20260117_172703_session-planning-refactor-01/session_handover_20260117_172703.md
  project_compass/history/sessions/20260117_172706_new-session-172704/active_context/current_session.yml
  project_compass/history/sessions/20260117_172706_new-session-172704/manifest.json
  project_compass/history/sessions/20260117_172706_new-session-172704/session_handover.md
  project_compass/history/sessions/20260117_172706_new-session-172704/session_handover_20260117_172706.md
  project_compass/src/core.py
Due: none

fix(compass): fix session handover duplication bug
  AgentQMS/.mcp-telemetry.jsonl
  project_compass/compass.json
  project_compass/history/sessions/20260117_042038_new-session-011946/active_context/current_session.yml
  project_compass/history/sessions/20260117_042038_new-session-011946/manifest.json
  project_compass/history/sessions/20260117_042038_new-session-011946/session_handover.md
  project_compass/history/sessions/20260117_042038_new-session-011946/session_handover_20260117_042038.md
  project_compass/history/sessions/20260117_172703_session-planning-refactor-01/session_handover.md
  project_compass/history/sessions/20260117_172703_session-planning-refactor-01/session_handover_20260117_172703.md
  project_compass/history/sessions/20260117_172706_new-session-172704/active_context/current_session.yml
  project_compass/history/sessions/20260117_172706_new-session-172704/manifest.json
  project_compass/history/sessions/20260117_172706_new-session-172704/session_handover.md
  project_compass/history/sessions/20260117_172706_new-session-172704/session_handover_20260117_172706.md
  project_compass/scripts/session_manager.py
Due: none

refactor(hydra-v5): Refactor Hydra Configuration Phase 1 Starting..(No changes)
  ocr-refactor-prep/hydra_refactor/02_SCRIPT_migration_auditor.py
  ocr-refactor-prep/hydra_refactor/03_SCRIPT_hydra_guard.py
  ocr-refactor-prep/hydra_refactor/05_PROMPT_ai_architect_audit.md
  ocr-refactor-prep/hydra_refactor/07_GUIDE_refactor_execution.md
  ocr-refactor-prep/hydra_refactor/README.md
  ocr-refactor-prep/hydra_refactor/resolved_recognition.yaml
  ocr-refactor-prep/hydra_refactor/test_audit_report.txt
  project_compass/active_context/current_session.yml
  project_compass/roadmap/hydra_config_refactor.yml
  refactor_audit_report.txt
Due: none

refactor(domain): Ocr domain refactor WIP.
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/standards/standards-router.yaml
  AgentQMS/standards/tier2-framework/context-keywords.yaml
  AgentQMS/standards/tier2-framework/hydra-configuration-architecture.yaml
  AgentQMS/standards/tier2-framework/hydra-v5-core-rules.yaml
  AgentQMS/standards/tier4-workflows/workflow-detector.yaml
  CLEANUP_SUMMARY_2026-01-19.md
  Legacy_Scripts_Cleanup_Recommendations.md
  Performance_Audit_OCR_Training_Pipeline_Bottlenecks_1.md
  Performance_Audit_Supplement_Orchestrator_Findings.md
  docs/artifacts/walkthroughs/2025-01-19_0554-documentation-update.md
  docs/artifacts/walkthroughs/2026-01-19_0615_walkthrough_hydra-docs-consolidation.md
  ocr/pipelines/orchestrator.py
  project_compass/history/sessions/20260118_013857_session-refactor-execution/hydra-standards-v5.md
  project_compass/history/sessions/20260118_042030_new-session-200722/session_handover_20260118_042030.md
  project_compass/roadmap/ocr-domain-refactor.yml
  runners/kie_predictor.py
  runners/train_fast.py
  runners/train_kie.py
  scripts/__REVIEW__/deprecated_extract_paddleocr_data.py
  scripts/__REVIEW__/deprecated_optimize_images_v1.py
  scripts/__REVIEW__/duplicate_ci_update_diagrams_no_uv.sh
  scripts/__REVIEW__/duplicate_manage_diagrams.sh
  scripts/audit/rotation_comparison.py
  scripts/troubleshooting/debug_imports.py
  scripts/troubleshooting/diagnose_cuda_issue.py
Due: check-diagram-updates, validate-agentqms-artifacts, forbid-pip-install

fix(config): Updated legacy references to the new domain files.
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/standards/tier2-framework/hydra-configuration-architecture.yaml
  configs/data/transforms/base.yaml
  configs/domain/detection.yaml
  configs/experiment/det_resnet50_v1.yaml
  configs/experiment/rec_baseline_v1.yaml
  configs/model/architectures/dbnet_atomic.yaml
  docs/artifacts/audits/2026-01-15_0031_audit_ocr-experiment_wandb-utils-refactoring.md
  docs/reference/detection-component-paths.md
  notepad_train_cmds.md
  ocr/core/lightning/__init__.py
  ocr/core/metrics/cleval_metric.py
  ocr/core/utils/wandb_utils.py
  ocr/data/datasets/transforms.py
  ocr/domains/detection/metrics/functional.py
  ocr/pipelines/orchestrator.py
  project_compass/cli.py
  project_compass/history/sessions/20260117_011946_20260116_session_01/session_handover_20260117_011946.md
  project_compass/history/sessions/20260118_042030_new-session-200722/session_handover_20260118_042030.md
  project_compass/history/sessions/20260118_210308_new-session-042031/active_context/current_session.yml
  project_compass/history/sessions/20260118_210308_new-session-042031/manifest.json
  project_compass/history/sessions/20260118_210308_new-session-042031/session_handover_20260118_210308.md
  project_compass/mcp_schema.yaml
  project_compass/mcp_server.py
  project_compass/roadmap/ocr-domain-refactor.yml
  project_compass/scripts/session_manager.py
  project_compass/src/core.py
  project_compass/src/validation.py
Due: check-diagram-updates, validate-agentqms-artifacts

refactor(agentqms): Consolidate configuration and implement path-aware discovery
  AgentQMS/bin/generate-effective-config.py
  AgentQMS/bin/qms
  AgentQMS/bin/validate-registry.py
  AgentQMS/standards/registry.yaml
  AgentQMS/tools/utils/config_loader.py
Due: none

refactor(agentqms): Complete cleanup - archive old files and update tool mappings
  AgentQMS/.agentqms/settings.yaml
  AgentQMS/standards/.archive/INDEX.yaml
  AgentQMS/standards/.archive/standards-router.yaml
Due: none

fix(ci): Resolve all 3 CI workflow failures
  AgentQMS/.agentqms/state/plugins.yaml
  AgentQMS/bin/Makefile
  experiment_manager/src/etk/compass.py
  ocr/core/evaluation/evaluator.py
  ocr/core/inference/engine.py
  ocr/core/lightning/ocr_pl.py
  ocr/core/utils/geometry_utils.py
  ocr/core/utils/polygon_utils.py
  ocr/data/__init__.py
  ocr/data/datasets/__init__.py
  ocr/data/datasets/db_collate_fn.py
Due: check-diagram-updates

docs(agentqms): Complete migration documentation and monitoring tools
  AgentQMS/AGENTS.yaml
  AgentQMS/DEPRECATION_PLAN.md
  AgentQMS/MIGRATION_GUIDE.md
  AgentQMS/bin/monitor-token-usage.py
Due: none
