Repository Wchoi189/upstageailab-ocr-recsys-competition-ocr-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentqms-artifacts, ads-compliance-check, forbid-pip-install, validate-feature-first-architecture, validate-path-usage

.pre-commit-config.yaml:

# This is the standard configuration file for pre-commit hooks.
# It helps catch and fix issues automatically before code is even committed.
# To use, run `pre-commit install` in your local repository.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   # Run Ruff's formatter and linter.
  #   rev: v0.5.0 # Using a more recent version
  #   hooks:
  #     - id: ruff
  #       name: ruff-linter-fixer
  #       args: [--fix, --exit-non-zero-on-fix]
  #       exclude: ^(ocr/|ocr-etl-pipeline/|runners/|tests/ocr/)
  #     - id: ruff-format
  #       exclude: ^(ocr/|ocr-etl-pipeline/|runners/|tests/ocr/)

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.10.1 # Using a more recent version
  #   hooks:
  #     - id: mypy
  #       # You can customize args and dependencies to match your project's needs
  #       additional_dependencies: [types-Pillow, types-tqdm, types-PyYAML, types-shapely]
  #       files: ^(services/)

  - repo: local
    hooks:
      # - id: frontend-eslint
      #   name: frontend-eslint
      #   entry: npm run lint --workspace playground-console
      #   language: system
      #   pass_filenames: false

      # - id: frontend-type-check
      #   name: frontend-type-check
      #   entry: npm run type-check --workspace playground-console
      #   language: system
      #   pass_filenames: false

      # - id: console-eslint
      #   name: console-eslint
      #   entry: npm run lint --workspace apps/playground-console
      #   language: system
      #   pass_filenames: false

      - id: validate-agentqms-artifacts
        name: validate-agentqms-artifacts
        entry: uv run python AgentQMS/tools/compliance/validate_artifacts.py --no-refresh
        language: system
        pass_filenames: true
        files: ^docs/artifacts/.*\.md$
        exclude: /(archive|walkthroughs)/

      - id: ads-compliance-check
        name: ADS v1.0 Compliance Check
        entry: uv run python AgentQMS/standards/schemas/compliance-checker.py
        language: system
        # Validate tier1-sst and tier2-framework only (pure YAML)
        # Exclude: DEPRECATED/, tier3-agents/*.yaml (hybrid), tier4-workflows/ (hybrid docs)
        files: ^\AgentQMS/standards/(tier1-sst|tier2-framework)/.*\.yaml$
        pass_filenames: true

      - id: forbid-pip-install
        name: forbid-pip-install
        entry: uv run python scripts/ci/forbid_pip_install.py
        language: system
        files: ^(scripts/.*\.(sh|py)|AgentQMS/bin/Makefile)$

      - id: validate-feature-first-architecture
        name: Validate Feature-First Architecture
        entry: uv run python scripts/hooks/validate_architecture.py
        language: system
        files: ^ocr/.*\.py$
        pass_filenames: true

      - id: validate-path-usage
        name: Validate Path Usage
        entry: uv run python scripts/hooks/validate_path_usage.py
        language: system
        types: [python]
        pass_filenames: true

fix(agentqms): Imports and invalid paths fixed.
  AgentQMS/.agentqms/effective.yaml
  AgentQMS/.agentqms/settings.yaml
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/__init__.py
  AgentQMS/bin/aqms
  AgentQMS/mcp_server.py
  AgentQMS/standards/tier1-sst/constraints/agent-policy.yaml
  AgentQMS/standards/tier2-framework/configuration/template-defaults-readme.md
  AgentQMS/standards/tier2-framework/discovery/utility-scripts-manifest.yaml
  AgentQMS/tests/test_context_integration.py
  AgentQMS/tools/compliance/documentation_quality_monitor.py
  AgentQMS/tools/compliance/validators/bundles.py
  AgentQMS/tools/core/artifacts/init_debug_session.py
  AgentQMS/tools/core/artifacts/smart_populate.py
  AgentQMS/tools/core/artifacts/status.py
  AgentQMS/tools/core/artifacts/workflow.py
  AgentQMS/tools/core/context/context_bundle.py
  AgentQMS/tools/core/context/context_loader.py
  AgentQMS/tools/core/context/get_context.py
  AgentQMS/tools/core/plugins/discover.py
  AgentQMS/tools/core/plugins/discovery.py
  AgentQMS/tools/maintenance/init_debug_session.py
  AgentQMS/tools/utils/plan_progress.py
  factorial.py
Due: validate-path-usage

feat(agentqms): Phase 2 - Context bundle audit resolution (76→0 broken refs)
  AgentQMS/.agentqms/plugins/context_bundles/agent-configuration.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ast-debugging-tools.yaml
  AgentQMS/.agentqms/plugins/context_bundles/compliance-check.yaml
  AgentQMS/.agentqms/plugins/context_bundles/documentation-update.yaml
  AgentQMS/.agentqms/plugins/context_bundles/hydra-configuration.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-debugging.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-experiment.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-information-extraction.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-layout-analysis.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-text-detection.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-text-recognition.yaml
  AgentQMS/.agentqms/plugins/context_bundles/pipeline-development.yaml
  AgentQMS/.agentqms/plugins/context_bundles/rec-audit-foundation.yaml
  AgentQMS/.agentqms/plugins/context_bundles/rec-historical-context.yaml
  AgentQMS/.agentqms/plugins/context_bundles/security-review.yaml
  AgentQMS/.agentqms/plugins/context_bundles/v5-domains-standard.yaml
  AgentQMS/.agentqms/registry.yaml
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/specs/tier1-contracts/artifact-types.spec.md
  AgentQMS/specs/tier1-contracts/file-placement-rules.spec.md
  AgentQMS/specs/tier1-contracts/prohibited-actions.spec.md
  AgentQMS/specs/tier1-contracts/workflow-requirements.spec.md
  AgentQMS/specs/tier2-framework/agent-infra/ollama-models.spec.md
  AgentQMS/specs/tier2-framework/api/contracts.spec.md
  AgentQMS/specs/tier2-framework/configuration/configuration-standards.spec.md
  AgentQMS/specs/tier2-framework/configuration/hydra-architecture.spec.md
  AgentQMS/specs/tier2-framework/core-infra/python-core.spec.md
  AgentQMS/specs/tier2-framework/discovery/discovery-rules.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/coordinate-transforms.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/image-loading.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/model-management.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/orchestration-flow.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/pipeline-contracts.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/postprocessing-logic.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/preprocessing-logic.spec.md
  AgentQMS/specs/tier2-framework/patterns/hydra-v5-patterns.spec.md
  AgentQMS/tools/core/context/context_bundle.py
  project_compass/pulse_staging/archive/FILE_ORGANIZATION.md
  project_compass/pulse_staging/archive/NEW_SESSION_HANDOVER.md
  project_compass/pulse_staging/archive/SESSION_COMPLETE.md
Due: validate-path-usage

feat(agentqms): Phase 3 Track 0 - Spec consolidation (fix architecture misalignment)
  AgentQMS/.agentqms/plugins/context_bundles/agent-configuration.yaml
  AgentQMS/.agentqms/plugins/context_bundles/compliance-check.yaml
  AgentQMS/.agentqms/plugins/context_bundles/hydra-configuration.yaml
  AgentQMS/.agentqms/plugins/context_bundles/ocr-experiment.yaml
  AgentQMS/.agentqms/plugins/context_bundles/pipeline-development.yaml
  AgentQMS/.agentqms/plugins/context_bundles/security-review.yaml
  AgentQMS/specs/tier2-framework/agent-infra.spec.md
  AgentQMS/specs/tier2-framework/api.spec.md
  AgentQMS/specs/tier2-framework/configuration/configuration-standards.spec.md
  AgentQMS/specs/tier2-framework/configuration/hydra-architecture.spec.md
  AgentQMS/specs/tier2-framework/core-infra.spec.md
  AgentQMS/specs/tier2-framework/core_infra.spec.md
  AgentQMS/specs/tier2-framework/discovery.spec.md
  AgentQMS/specs/tier2-framework/discovery/discovery-rules.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/coordinate-transforms.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/image-loading.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/model-management.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/orchestration-flow.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/pipeline-contracts.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/postprocessing-logic.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine/preprocessing-logic.spec.md
  AgentQMS/specs/tier2-framework/ocr_engine.spec.md
  AgentQMS/specs/tier2-framework/patterns.spec.md
  scripts/consolidate_specs.py
  scripts/delete_bundle_refs.py
  scripts/extract_specs_from_db.py
  scripts/update_bundle_refs.py
  scripts/update_flattened_refs.py
Due: forbid-pip-install, validate-path-usage

Phase 1 Import Optimization Complete
  AgentQMS/.mcp-telemetry.jsonl
  ocr/domains/recognition/module.py
  ocr/pipelines/orchestrator.py
  project_compass/.vessel/vessel_state.json
  project_compass/history/ocr-domain-refactor/20260205_042126_recognition-audit-post-refactor/constitution.md
  project_compass/history/ocr-domain-refactor/20260205_042126_recognition-audit-post-refactor/implementation_plan.md
  project_compass/history/ocr-domain-refactor/20260205_042126_recognition-audit-post-refactor/pulse_manifest.json
  project_compass/history/ocr-domain-refactor/20260205_042126_recognition-audit-post-refactor/specification.md
  project_compass/history/ocr-domain-refactor/20260205_053428_recognition-optimize-imports/implementation_plan.md
  project_compass/history/ocr-domain-refactor/20260205_053428_recognition-optimize-imports/import_baseline.log
  project_compass/history/ocr-domain-refactor/20260205_053428_recognition-optimize-imports/import_optimized.log
  project_compass/history/ocr-domain-refactor/20260205_053428_recognition-optimize-imports/import_phase1_complete.log
  project_compass/history/ocr-domain-refactor/20260205_053428_recognition-optimize-imports/pulse_manifest.json
  project_compass/history/ocr-domain-refactor/20260205_053428_recognition-optimize-imports/walkthrough.md
  runners/train.py
Due: validate-feature-first-architecture, validate-path-usage

fix(mcp): Updated path references for the mcp servers in the new environment.
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/README.md
  AgentQMS/mcp_server.py
  AgentQMS/tests/test_middleware_dashboard.py
  dev_tools/experiment_manager/src/etk/mcp_server.py
  docker/entrypoint.sh
  docs/architecture/path_contracts.md
  scripts/mcp/unified_server.py
  verify_mcp_imports.py
Due: forbid-pip-install, validate-path-usage

docs: add core/interfaces pattern spec for AI agents
  AgentQMS/specs/tier2-framework/core-interfaces.spec.md
Due: none

chore: comment out verbose debug statements in recognition
  ocr/domains/recognition/models/architecture.py
  ocr/domains/recognition/module.py
Due: validate-feature-first-architecture, validate-path-usage

Phase 1-2 Complete ( Data contracts, Flashattn Research)
  .claude/settings.local.json
  AgentQMS/.mcp-telemetry.jsonl
  dev_tools/project_compass/.vessel/vessel_state.json
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_0316_design_session-handover-initial.md
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_0348_walkthrough_parseq-plm-flash.md
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_0349_design_session-handover-research.md
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_0358_assessment_plm-research-addendum.md
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_1637_design_data-contracts-complete.md
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_1730_design_session-handover-phase1-2-complete.md
  dev_tools/project_compass/pulse_staging/artifacts/INDEX.md
  dev_tools/project_compass/pulse_staging/artifacts/__archive/2026-02-12_session1/data_contracts_implementation_summary.md
  dev_tools/project_compass/pulse_staging/artifacts/__archive/2026-02-12_session1/extended_requirements_analysis.md
  dev_tools/project_compass/pulse_staging/artifacts/research_flashattn_draft.md
  ocr/domains/recognition/models/__init__.py
  ocr/domains/recognition/models/architecture.py
  ocr/domains/recognition/models/decoder.py
  ocr/domains/recognition/models/plm.py
  tests/integration/recognition/__init__.py
  tests/integration/recognition/test_atomic_plm.py
  tests/test_mcp_batch_validation.py
  tests/unit/recognition/test_plm_extraction.py
Due: validate-feature-first-architecture, validate-path-usage

Phase 4 Complete: Hydra Configuration
  configs/domain/recognition_baseline.yaml
  configs/domain/recognition_flash.yaml
  configs/domain/recognition_plm.yaml
  configs/domain/recognition_plm_flash.yaml
  configs/experiment/parseq_baseline.yaml
  configs/experiment/parseq_flash.yaml
  configs/experiment/parseq_plm.yaml
  configs/experiment/parseq_plm_flash.yaml
  configs/model/architectures/parseq_baseline.yaml
  configs/model/architectures/parseq_flash.yaml
  configs/model/architectures/parseq_plm.yaml
  configs/model/architectures/parseq_plm_flash.yaml
  configs/model/decoder/parseq_flash.yaml
  configs/model/decoder/parseq_plm.yaml
  configs/model/decoder/parseq_plm_flash.yaml
  configs/model/decoder/parseq_standard.yaml
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_1820_design_session-handover-phase3-complete.md
  dev_tools/project_compass/pulse_staging/artifacts/__archive/research_flashattn_draft.md
  ocr/domains/recognition/models/__init__.py
  ocr/domains/recognition/models/decoder.py
  ocr/domains/recognition/models/flash_attention.py
  scripts/test_parseq_configs.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_flash_attention.py
Due: forbid-pip-install, validate-feature-first-architecture, validate-path-usage

PARSeq Optimization - Phase 4 Complete
  dev_tools/project_compass/pulse_staging/artifacts/2026-02-12_1900_design_session-handover-phase4-complete.md
Due: none

Pre-nuclear-cleanup: Save current state before v3.0 refactor
  dev_tools/project_compass/CLEANUP_FEEDBACK.md
  dev_tools/project_compass/NUCLEAR_CLEANUP_REQUIREMENTS.md
  dev_tools/project_compass/SKILLS_IMPLEMENTATION.md
  dev_tools/project_compass/history/mcp-batch-refactor/audit.md
  dev_tools/project_compass/history/mcp-batch-refactor/concurrency_policy.md
  dev_tools/project_compass/history/mcp-batch-refactor/plan.md
  dev_tools/project_compass/history/mcp-batch-refactor/research.md
  dev_tools/project_compass/history/mcp-batch-refactor/validation.md
  dev_tools/project_compass/history/v1.0-recognition-optimization/20260212_200909_recognition-parseq-optimization/__archive/mcp-batch-refactor/audit.md
  dev_tools/project_compass/history/v1.0-recognition-optimization/20260212_200909_recognition-parseq-optimization/__archive/mcp-batch-refactor/research.md
  dev_tools/project_compass/history/v1.0-recognition-optimization/20260212_200909_recognition-parseq-optimization/__archive/mcp-batch-refactor/validation.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_0316_design_session-handover-initial.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_0348_walkthrough_parseq-plm-flash.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_0349_design_session-handover-research.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_0358_assessment_plm-research-addendum.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_1637_design_data-contracts-complete.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_1730_design_session-handover-phase1-2-complete.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_1820_design_session-handover-phase3-complete.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_1900_design_session-handover-phase4-complete.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/2026-02-12_1940_validation_results-phase5-complete.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/INDEX.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/darft_audit_prompt.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/mcp-batch-refactor/audit.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/mcp-batch-refactor/research.md
  dev_tools/project_compass/pulse_archive/2026-02-12_parseq-optimization-phase1-5/artifacts/mcp-batch-refactor/validation.md
  dev_tools/project_compass/skills/QUICKSTART.md
  dev_tools/project_compass/skills/README.md
  dev_tools/project_compass/skills/audit-run/SKILL.md
  dev_tools/project_compass/skills/compass-finish/SKILL.md
  dev_tools/project_compass/skills/compass-help/SKILL.md
  dev_tools/project_compass/skills/compass-register/SKILL.md
  dev_tools/project_compass/skills/compass-resume/SKILL.md
  dev_tools/project_compass/skills/compass-start/SKILL.md
  dev_tools/project_compass/skills/compass-status/SKILL.md
Due: none

Nuclear cleanup complete: v3.0.0 - Remove MCP, add Skills
  dev_tools/project_compass/AGENTS.md
  dev_tools/project_compass/AGENTS.yaml
  dev_tools/project_compass/CHANGELOG.md
  dev_tools/project_compass/design/spec-kit-integration.md
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/20260202_201246_test_script_snapshot/artifacts/constitution.md
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/20260202_201246_test_script_snapshot/snapshot_meta.json
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/20260202_201246_test_script_snapshot/vessel_state.json
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/context-bundling-audit/assessment_context_bundle_integrity.md
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/context-bundling-audit/compass-v2-walkthrough.md
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/context-bundling-audit/implementation_plan.md
  dev_tools/project_compass/history/snapshots-archive-2026-02-12/recognition-audit-post-refactor/context-bundling-audit/specification.md
  dev_tools/project_compass/project_compass/.vessel/vessel_state.json
  dev_tools/project_compass/project_compass/cli.py
  dev_tools/project_compass/project_compass/mcp_server.py
  dev_tools/project_compass/project_compass/pulse_staging/artifacts/CONTINUATION_PROMPT.md
  dev_tools/project_compass/project_compass/pulse_staging/artifacts/INDEX.md
  dev_tools/project_compass/project_compass/pulse_staging/artifacts/constitution.md
  dev_tools/project_compass/project_compass/pulse_staging/artifacts/implementation_plan.md
  dev_tools/project_compass/project_compass/pulse_staging/artifacts/specification.md
  dev_tools/project_compass/project_compass/pulse_staging/artifacts/tasks.md
  dev_tools/project_compass/project_compass/src/pulse_exporter.py
  dev_tools/project_compass/project_compass/src/router.py
  dev_tools/project_compass/skills/README.md
  dev_tools/project_compass/skills/audit-run/SKILL.md
  dev_tools/project_compass/skills/compass-finish/SKILL.md
  dev_tools/project_compass/skills/compass-register/SKILL.md
  dev_tools/project_compass/skills/compass-resume/SKILL.md
  dev_tools/project_compass/skills/compass-start/SKILL.md
  dev_tools/project_compass/skills/compass-status/SKILL.md
Due: validate-path-usage

docs: Add V3.0 migration completion summary
  dev_tools/project_compass/V3_MIGRATION_COMPLETE.md
Due: none

Refactored Project Compass and removed mcp in favor of agent skills due to poor discoverability.
  .claude/settings.local.json
  .devcontainer/mcp_servers.yaml
  .github/copilot-instructions.md
  dev_tools/project_compass/.vessel/vessel_state.json
  dev_tools/project_compass/AGENTS.md
  dev_tools/project_compass/AGENTS.yaml
  dev_tools/project_compass/CHANGELOG.md
  dev_tools/project_compass/CORRECTION_REQUIREMENTS.yaml
  dev_tools/project_compass/NUCLEAR_CLEANUP_REQUIREMENTS.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/ARCHITECTURE_AUDIT_COMPLETE.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/COMPLETE_UPDATE_SUMMARY.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/DOCUMENTATION_UPDATE_SUMMARY.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/MCP_RESOURCES_UPDATE.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/PATH_DETECTION_BUG_FIX.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/POST_NUCLEAR_AUDIT.md
  dev_tools/project_compass/history/docs-archive-2026-02-12/V3_MIGRATION_COMPLETE.md
  dev_tools/project_compass/project_compass/src/core.py
  dev_tools/project_compass/pulse_staging/artifacts/CONTINUATION_PROMPT.md
  dev_tools/project_compass/pulse_staging/artifacts/INDEX.md
  dev_tools/project_compass/pyproject.toml
  dev_tools/project_compass/skills/QUICKSTART.md
  dev_tools/project_compass/skills/README.md
  dev_tools/project_compass/skills/compass-finish/SKILL.md
  dev_tools/project_compass/skills/compass-help/SKILL.md
  dev_tools/project_compass/skills/compass-resume/SKILL.md
  dev_tools/project_compass/skills/compass-start/SKILL.md
  scripts/mcp/config/resources.yaml
  scripts/mcp/unified_server.py
  scripts/runners/train.py
  tests/test_mcp_batch_validation.py
  uv.lock
Due: forbid-pip-install, validate-path-usage

fix(flash-attention): Add smart backend fallback and colored warning logging
  .pre-commit-config.yaml
  docs/artifacts/bug_reports/2026-02-13_0134_bug_001_attention-plm-cuda-error.md
  ocr/domains/recognition/models/flash_attention.py
  ocr/domains/recognition/module.py
Due: validate-agentqms-artifacts, validate-feature-first-architecture, validate-path-usage

docs(pulse): Export Flash Attention deployment session
  dev_tools/project_compass/pulse_staging/artifacts/INDEX.md
  dev_tools/project_compass/pulse_staging/artifacts/SESSION_HANDOVER_FLASH_DEPLOYMENT_2026-02-13.md
Due: none

feat(perf): implement tokenizer caching and lazy dataset loading
  ocr/data/datasets/__init__.py
  ocr/data/lightning_data.py
  ocr/domains/recognition/data/tokenizer.py
  ocr/pipelines/orchestrator.py
  ocr/pipelines/strategies/recognition_config.py
  scripts/benchmark_startup_time.sh
  scripts/test_lazy_datasets.sh
  specs/002-training-performance-optimization/SESSION_HANDOVER.md
  tests/ocr/domains/recognition/test_tokenizer_cache.py
Due: forbid-pip-install, validate-feature-first-architecture, validate-path-usage

docs: add Phase 3 handover for model weight investigation
  specs/002-training-performance-optimization/2122-phase3-handover.md
Due: none

perf: eliminate model weight duplication (Phase 3 complete)
  ocr/core/models/__init__.py
  specs/002-training-performance-optimization/findings.md
Due: validate-feature-first-architecture, validate-path-usage

docs: rename handover doc with date prefix
  specs/002-training-performance-optimization/2026-02-15_2122-phase3-handover.md
Due: none

docs(agentqms): add performance audit methodology and anti-patterns
  AgentQMS/specs/tier2-framework/patterns.spec.md
  AgentQMS/specs/tier2-framework/performance-audit-prompts.spec.md
  AgentQMS/specs/tier2-framework/performance-audit.spec.md
  AgentQMS/specs/tier2-framework/performance-checklist.spec.md
Due: none

recover: restore phase1 docs/spec overlap from dde2a810
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/guides/mcp-tools-testing.md
  specs/002-training-performance-optimization/SESSION_HANDOVER.md
  specs/002-training-performance-optimization/findings.md
Due: validate-agentqms-artifacts
