Repository Wchoi189/upstageailab-ocr-recsys-competition-ocr-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-diagram-updates, validate-agentqms-artifacts, ads-compliance-check, forbid-pip-install

.pre-commit-config.yaml:

# This is the standard configuration file for pre-commit hooks.
# It helps catch and fix issues automatically before code is even committed.
# To use, run `pre-commit install` in your local repository.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0 # Using a more recent version
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Run Ruff's formatter and linter.
    rev: v0.5.0 # Using a more recent version
    hooks:
      - id: ruff
        name: ruff-linter-fixer
        args: [--fix, --unsafe-fixes, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1 # Using a more recent version
    hooks:
      - id: mypy
        # You can customize args and dependencies to match your project's needs
        additional_dependencies: [types-Pillow, types-tqdm, types-PyYAML, types-shapely]
        files: ^(ocr/|services/|agent_qms/)

  - repo: local
    hooks:
      - id: validate-handbook-manifest
        name: validate-handbook-manifest
        entry: uv run python scripts/agent_tools/documentation/validate_manifest.py
        language: system
        pass_filenames: false
        args: [docs/agents/index.json]

      - id: check-diagram-updates
        name: check-diagram-updates
        entry: uv run python scripts/generate_diagrams.py --check-changes
        language: system
        pass_filenames: false
        files: ^(ocr/|ui/|configs/|scripts/generate_diagrams\.py)

      - id: frontend-eslint
        name: frontend-eslint
        entry: npm run lint --workspace frontend
        language: system
        pass_filenames: false

      - id: frontend-type-check
        name: frontend-type-check
        entry: npm run type-check --workspace frontend
        language: system
        pass_filenames: false

      - id: console-eslint
        name: console-eslint
        entry: npm run lint --workspace apps/playground-console
        language: system
        pass_filenames: false

      - id: validate-agentqms-artifacts
        name: validate-agentqms-artifacts
        entry: uv run python AgentQMS/agent_tools/compliance/validate_artifacts.py --no-refresh
        language: system
        pass_filenames: true
        files: ^docs/artifacts/.*\.md$
        exclude: /archive/

      - id: ads-compliance-check
        name: ADS v1.0 Compliance Check
        entry: uv run python .ai-instructions/schema/compliance-checker.py
        language: system
        # Validate tier1-sst and tier2-framework only (pure YAML)
        # Exclude: DEPRECATED/, tier3-agents/*.yaml (hybrid), tier4-workflows/ (hybrid docs)
        files: ^\.ai-instructions/(tier1-sst|tier2-framework)/.*\.yaml$
        pass_filenames: true

      - id: forbid-pip-install
        name: forbid-pip-install
        entry: uv run python scripts/ci/forbid_pip_install.py
        language: system
        files: ^(scripts/.*\.(sh|py)|AgentQMS/interface/Makefile)$

chore(code-quality): Fix more optional module handling and type errors
  AgentQMS/agent_tools/maintenance/add_frontmatter.py
  AgentQMS/vlm/backends/solar_pro2.py
  AgentQMS/vlm/core/client.py
Due: none

chore(code-quality): Fix lambda type narrowing and variable shadowing
  AgentQMS/agent_tools/maintenance/add_frontmatter.py
  apps/ocr_inference_console/backend/services/inference_service.py
Due: none

chore(code-quality): Fix Pydantic, casting, and exception handling errors
  AgentQMS/ocr/next_run_proposer.py
  apps/ocr_inference_console/backend/services/preprocessing_service.py
  experiment_manager/src/etk/factory.py
  experiment_manager/src/etk/schemas.py
  ocr/datasets/base.py
  ocr/datasets/preprocessing/config.py
Due: check-diagram-updates

chore(code-quality): Fix import and type annotation errors
  AgentQMS/vlm/integrations/via.py
  ocr/datasets/base.py
  ocr/datasets/preprocessing/config.py
Due: check-diagram-updates

chore(code-quality): Achieve 0 mypy errors - Exclude sample dashboard
  pyproject.toml
Due: none

chore(code-quality): Phase 3.1 - Enable check_untyped_defs & fix annotations
  ocr/metrics/box_types.py
  pyproject.toml
Due: check-diagram-updates

chore(code-quality): Fix PIL UnidentifiedImageError import
  ocr/analysis/data/gen_image_metadata.py
Due: check-diagram-updates

chore(code-quality): Fix 5 None-check errors (MEDIUM risk)
  AgentQMS/agent_tools/audit/analyze_graph.py
  apps/ocr_inference_console/backend/main.py
  ocr/lightning_modules/callbacks/wandb_image_logging.py
Due: check-diagram-updates

docs(code-quality): Add implementation plan for model head signature fix
  docs/artifacts/implementation_plans/2025-12-27_model_head_signature_fix.md
Due: validate-agentqms-artifacts

docs(code-quality): Add concise bug report for model head LSP violation
  .agentqms/effective.yaml
  .agentqms/state/plugins.yaml
  docs/artifacts/bug_reports/2025-12-27_0608_BUG_001_model-head-lsp-violation.md
Due: validate-agentqms-artifacts

docs(chore): Updated AI docs (AGENT.md) and updated manifest.json for experiment_manager.
  .ai-instructions/tier4-workflows/experiment-workflow.yaml
  AGENTS.md
  data/ops/tracking.db
  docker/Dockerfile
  experiment_manager/experiments/20251122_172313_perspective_correction/manifest.json
  experiment_manager/experiments/20251128_005231_perspective_correction/manifest.json
  experiment_manager/experiments/20251128_220100_perspective_correction/manifest.json
  experiment_manager/experiments/20251129_173500_perspective_correction_implementation/manifest.json
  experiment_manager/experiments/20251217_024343_image_enhancements_implementation/manifest.json
  experiment_manager/experiments/20251220_154834_zero_prediction_images_debug/manifest.json
  experiment_manager/experiments/20251225_233304_sepia_enhancement_study/manifest.json
  experiment_manager/install-etk.sh
  experiment_manager/src/etk/cli.py
  experiment_manager/src/etk/core.py
Due: none

Add WebP samples with LFS
  .gitattributes
  data/samples_for_ai/original/drp.en_ko.in_house.selectstar_000699.webp
  data/samples_for_ai/original/drp.en_ko.in_house.selectstar_000712.webp
  data/samples_for_ai/original/drp.en_ko.in_house.selectstar_000732.webp
  data/samples_for_ai/original/drp.en_ko.in_house.selectstar_001007.webp
  data/samples_for_ai/original/drp.en_ko.in_house.selectstar_001012.webp
  data/samples_for_ai/original/drp.en_ko.in_house.selectstar_001161.webp
Due: none

Add AWS Batch cloud processing infrastructure
  .github/workflows/deploy-batch-processor.yml
  .github/workflows/run-batch-job.yml
  .gitignore
  aws/batch-job-definition.json
  aws/config.env
  docs/aws-batch-quickref.md
  docs/aws-batch-setup.md
  docs/changelog/2025-12/2025-12-28_0159_assessment_kie_strategy.md
  docs/changelog/2025-12/2025-12-28_0200_tasks_kie-datasets.md
  docs/changelog/2025-12/2025-12-28_0230_quickstart_psuedo_imgs.md
  docs/changelog/2025-12/api_response_sample.md.resolved
  docs/changelog/2025-12/sample_validation_report.md.resolved
  docs/github-secrets-setup.md
  ocr/utils/api_usage_tracker.py
  ocr/utils/ocr_utils.py
  ocr/utils/sepia_enhancement.py
  ocr/utils/text_rendering.py
  ocr/utils/wandb_utils.py
  runners/batch_pseudo_labels.py
  runners/batch_pseudo_labels_aws.py
  runners/compare_pseudo_labels.py
  runners/extract_sample_batch.py
  runners/process_pseudo_labels.py
  scripts/cloud/Dockerfile.batch
  scripts/cloud/aws-batch-setup.sh
  scripts/cloud/prepare_test_dataset.py
  scripts/view_api_usage.py
  scripts/view_parquet.py
Due: check-diagram-updates, forbid-pip-install

fix: Optimize CI workflows and mypy configuration
  .github/workflows/ai-ci-healer-integration.yml
  .github/workflows/ci.yml
  docs/CI_OPTIMIZATION_RECOMMENDATIONS.md
  pyproject.toml
  scripts/analyze_mypy_errors.py
Due: forbid-pip-install

chore: Update AgentQMS state metadata
  .agentqms/effective.yaml
  .agentqms/state/plugins.yaml
Due: none

AgentQMS: auto-fix artifacts (limit: 10)
  .agentqms/effective.yaml
  .agentqms/state/plugins.yaml
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  uv.lock
Due: validate-agentqms-artifacts

docs: Add comprehensive environment setup and AI integration feedback
  docs/ENVIRONMENT_SETUP_FEEDBACK.md
Due: none

feat: Add AWS Batch cloud processing infrastructure
  aws/batch-job-definition.json
Due: none

fix: Pass aws-region as parameter to configure-aws-credentials action
  .github/workflows/deploy-batch-processor.yml
  .github/workflows/run-batch-job.yml
Due: none

fix: Update Dockerfile to use pyproject.toml instead of requirements.txt
  scripts/cloud/Dockerfile.batch
Due: none

perf: Use minimal dependencies for batch processor
  scripts/cloud/Dockerfile.batch
  scripts/cloud/requirements-batch.txt
Due: none

Initial commit: AWS Batch Processor
  aws-batch-processor/.github/workflows/deploy.yml
  aws-batch-processor/.github/workflows/run-job.yml
  aws-batch-processor/.gitignore
  aws-batch-processor/AI_PROJECT_BRIEF.md
  aws-batch-processor/README.md
  aws-batch-processor/SETUP_COMPLETE.md
  aws-batch-processor/config/Dockerfile
  aws-batch-processor/config/batch-job-def.json
  aws-batch-processor/config/requirements.txt
  aws-batch-processor/docs/DATA_CATALOG.md
  aws-batch-processor/scripts/prepare_dataset.py
  aws-batch-processor/setup-aws.sh
  aws-batch-processor/src/batch_processor_base.py
  aws-batch-processor/src/processor.py
  aws-batch-processor/src/schemas.py
Due: none

Fix: Restore AgentQMS plugins and align state path
  AgentQMS/.agentqms/plugins/artifact_types/audit.yaml
  AgentQMS/.agentqms/plugins/artifact_types/change_request.yaml
  AgentQMS/.agentqms/plugins/artifact_types/ocr_experiment.yaml
  AgentQMS/.agentqms/plugins/context_bundles/security-review.yaml
  AgentQMS/.agentqms/plugins/validators.yaml
  AgentQMS/.agentqms/state/plugins.yaml
Due: none

Fix: CI paths and dependency resolution
  .github/workflows/agentqms-ci.yml
  pyproject.toml
  uv.lock
Due: none

Fix: Lowercase Docker repository tag
  .github/workflows/build-container.yml
Due: none

Fix: CI paths, Lint exclusions, and Unit tests
  .github/workflows/agentqms-autofix.yml
  .github/workflows/ci.yml
  pyproject.toml
  tests/AgentQMS/vlm/test_contracts.py
  tests/AgentQMS/vlm/test_preprocessor.py
  tests/test_config_safety.py
  tests/test_etk_compass.py
  tests/test_process_aihub.py
  tests/test_state_file.py
  tests/unit/test_advanced_corner_detection.py
  tests/unit/test_geometric_document_modeling.py
  tests/unit/test_high_confidence_decision_making.py
  tests/unit/test_preprocessing_pipeline.py
Due: none

fix(ci): fix failing tests
  AgentQMS/.agentqms/effective.yaml
  AgentQMS/.agentqms/state/plugins.yaml
  AgentQMS/tools/compliance/validate_artifacts.py
  docs/artifacts/bug_reports/2026-01-03_1812_BUG_002_coordinate-inverse-orientation-mapping.md
  ocr/inference/engine.py
  project_compass/mcp_server.py
  pyproject.toml
  tests/archive/README.md
  tests/archive/test_advanced_noise_elimination.py
  tests/archive/test_phase2_validation.py
  uv.lock
Due: check-diagram-updates, validate-agentqms-artifacts

feat(codespaces): added cloud optimized .devcontainer which includes MCPs.
  .claude/project_instructions.md
  .devcontainer/CODESPACES_SETUP.md
  .devcontainer/MAKE_IMAGE_PUBLIC.md
  .devcontainer/MCP_CLAUDE_CODE.md
  .devcontainer/README.md
  .devcontainer/codespaces/devcontainer.json
  .devcontainer/mcp_config.json
  .devcontainer/scripts/mcp-agentqms.sh
  .devcontainer/scripts/mcp-experiments.sh
  .devcontainer/scripts/mcp-project-compass.sh
  .devcontainer/scripts/start-mcp-servers.sh
  AgentQMS/mcp_server.py
  AgentQMS/standards/tier3-agents/claude/.claude.json
  AgentQMS/standards/tier3-agents/claude/MIGRATION.md
  docs/artifacts/bug_reports/2026-01-03_1937_BUG_003_mcp-server-resource-reading-failure.md
  project_compass/active_context/blockers.yml
  project_compass/active_context/current_session.yml
  project_compass/compass.json
  project_compass/environments/dataset_registry.yml
  project_compass/history/handoffs/2026-01-03_1915_kie_to_recognition_pivot.yml
  project_compass/mcp_server.py
  project_compass/roadmap/02_recognition.yml
  project_compass/roadmap/03_kie.yml
  project_compass/session_handover.md
Due: validate-agentqms-artifacts

docs: Updated README.md and translated it.
  README.ko.md
  README.md
  ocr-etl-pipeline/pyproject.toml
  ocr-etl-pipeline/src/etl/__init__.py
  ocr-etl-pipeline/src/etl/cli.py
  ocr-etl-pipeline/src/etl/core.py
  project_compass/.config/schemas/etl_config.json
  project_compass/.config/schemas/etl_state.json
  project_compass/AGENTS.yaml
  project_compass/environments/dataset_registry.yml
  project_compass/history/handoffs/2026-01-04_0130_ocr_etl_integration.yml
  project_compass/session_handover.md
  tools/debug_etl_core.py
Due: none

feat(project_compass): import/export feature added for packaging active context.
  docs/artifacts/walkthroughs/2026-01-05_0441_Hydra-Config-Architecture-Restructuring.md
  project_compass/history/sessions/20260105_140356_20260103_session_01/active_context/blockers.yml
  project_compass/history/sessions/20260105_140356_20260103_session_01/active_context/current_session.yml
  project_compass/history/sessions/20260105_140356_20260103_session_01/manifest.json
  project_compass/history/sessions/20260105_141032_20260103_session_01/active_context/blockers.yml
  project_compass/history/sessions/20260105_141032_20260103_session_01/active_context/current_session.yml
  project_compass/history/sessions/20260105_141032_20260103_session_01/manifest.json
  project_compass/history/sessions/20260105_141032_20260103_session_01/session_handover.md
  project_compass/mcp_server.py
  project_compass/scripts/session_manager.py
Due: validate-agentqms-artifacts

docs(chore): Update README.md and added translation-action workflow to GH Actions for auto-translation.
  .github/workflows/agentqms-dashboard-ci.yml.disabled
  .github/workflows/build-container.yml
  .github/workflows/translate-docs-batch.yml
  .github/workflows/translation-action.yml
  .qwen/QWEN.yaml
  .qwen/settings.json
  AgentQMS/.agentqms/effective.yaml
  AgentQMS/.agentqms/state/plugins.yaml
  README.md
  README.md_experimental3.md
  README.md_experimental4.md
  README_experimental.md
  README_experimental2.md
  docs/TRANSLATION_STRATEGY.md
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/2026-01-05_2049_implementation_plan_mcp-sharing-plan.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  mcp/README.md
  mcp/shared_config.json
  mcp/unified_server.py
  scripts/mcp/README.md
  scripts/mcp/shared_config.json
  scripts/mcp/sync_configs.py
  scripts/mcp/unified_server.py
  test_imports.py
Due: validate-agentqms-artifacts, forbid-pip-install
