Repository Wchoi189/upstageailab-ocr-recsys-competition-ocr-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentqms-artifacts, ads-compliance-check, forbid-pip-install, validate-feature-first-architecture, validate-path-usage

.pre-commit-config.yaml:

# This is the standard configuration file for pre-commit hooks.
# It helps catch and fix issues automatically before code is even committed.
# To use, run `pre-commit install` in your local repository.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   # Run Ruff's formatter and linter.
  #   rev: v0.5.0 # Using a more recent version
  #   hooks:
  #     - id: ruff
  #       name: ruff-linter-fixer
  #       args: [--fix, --exit-non-zero-on-fix]
  #       exclude: ^(ocr/|ocr-etl-pipeline/|runners/|tests/ocr/)
  #     - id: ruff-format
  #       exclude: ^(ocr/|ocr-etl-pipeline/|runners/|tests/ocr/)

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.10.1 # Using a more recent version
  #   hooks:
  #     - id: mypy
  #       # You can customize args and dependencies to match your project's needs
  #       additional_dependencies: [types-Pillow, types-tqdm, types-PyYAML, types-shapely]
  #       files: ^(services/)

  - repo: local
    hooks:
      # - id: frontend-eslint
      #   name: frontend-eslint
      #   entry: npm run lint --workspace playground-console
      #   language: system
      #   pass_filenames: false

      # - id: frontend-type-check
      #   name: frontend-type-check
      #   entry: npm run type-check --workspace playground-console
      #   language: system
      #   pass_filenames: false

      # - id: console-eslint
      #   name: console-eslint
      #   entry: npm run lint --workspace apps/playground-console
      #   language: system
      #   pass_filenames: false

      - id: validate-agentqms-artifacts
        name: validate-agentqms-artifacts
        entry: uv run python AgentQMS/tools/compliance/validate_artifacts.py --no-refresh
        language: system
        pass_filenames: true
        files: ^docs/artifacts/.*\.md$
        exclude: /(archive|walkthroughs)/

      - id: ads-compliance-check
        name: ADS v1.0 Compliance Check
        entry: uv run python AgentQMS/standards/schemas/compliance-checker.py
        language: system
        # Validate tier1-sst and tier2-framework only (pure YAML)
        # Exclude: DEPRECATED/, tier3-agents/*.yaml (hybrid), tier4-workflows/ (hybrid docs)
        files: ^\AgentQMS/standards/(tier1-sst|tier2-framework)/.*\.yaml$
        pass_filenames: true

      - id: forbid-pip-install
        name: forbid-pip-install
        entry: uv run python scripts/ci/forbid_pip_install.py
        language: system
        files: ^(scripts/.*\.(sh|py)|AgentQMS/bin/Makefile)$

      - id: validate-feature-first-architecture
        name: Validate Feature-First Architecture
        entry: uv run python scripts/hooks/validate_architecture.py
        language: system
        files: ^ocr/.*\.py$
        pass_filenames: true

      - id: validate-path-usage
        name: Validate Path Usage
        entry: uv run python scripts/hooks/validate_path_usage.py
        language: system
        types: [python]
        pass_filenames: true

recover: restore phase2 tooling/meta overlap from dde2a810
  .claude/settings.local.json
  .devcontainer/devcontainer.json
  .devcontainer/mcp_servers.yaml
  .github/agents/copilot-instructions.md
  .github/copilot-instructions.md
  .github/workflows/validate-standards.yml
  .gitignore
  .pre-commit-config.yaml
  .qwen/QWEN.yaml
  .qwen/settings.json
  .qwen/settings.json.orig
  AGENTS.yaml
  README.ko.md
  README.md
  configs/README.md
  configs/data/datasets/recognition.yaml
  configs/experiment/parseq_flash.yaml
  configs/experiment/rec_baseline_official.yaml
  configs/experiment/rec_optimized_rtx3090.yaml
  configs/train/callbacks/checkpoint_acc.yaml
  configs/train/logger/wandb.yaml
  repomix.config.json
Due: none

recover: restore phase3 config/devtools overlap from dde2a810
  __DEBUG__/scratchpad.md
  dev_tools/experiment_manager/.ai-instructions/schema/eds-v1.0-spec.yaml
  dev_tools/project_compass/design/inter_agent_communication_protocol.md
  dev_tools/project_compass/vault/milestones/ocr-hydra-refactor-roadmap.md
Due: none

recover: restore phase4 code-core overlap from dde2a810
  ocr/core/lightning/base.py
  ocr/core/lightning/callbacks/unique_checkpoint.py
  ocr/data/datasets/__init__.py
  ocr/domains/recognition/callbacks/wandb_logging.py
  ocr/domains/recognition/data/collate.py
  ocr/domains/recognition/data/lmdb_dataset.py
  ocr/domains/recognition/models/decoder.py
  ocr/domains/recognition/models/flash_attention.py
  ocr/domains/recognition/module.py
  ocr/pipelines/orchestrator.py
  scripts/audit_config_compliance.py
  scripts/benchmark_startup_time.sh
  scripts/mcp/config/resources.yaml
  scripts/mcp/test_telemetry.py
  scripts/mcp/verify_ads_compliance.py
  scripts/performance/generate_baseline_report.py
  scripts/runners/train.py
  scripts/test_lazy_datasets.sh
  scripts/utils/bundle_standards.py
Due: forbid-pip-install, validate-feature-first-architecture, validate-path-usage

recover: restore phase5 agentqms overlap from dde2a810
  AgentQMS/.agentqms/plugins/context_bundles/hydra-configuration.yaml
  AgentQMS/.agentqms/plugins/validators.yaml
  AgentQMS/.agentqms/registry.yaml
  AgentQMS/.agentqms/schemas/artifact_type_validation.yaml
  AgentQMS/.agentqms/state/plugins.yaml
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/CHANGELOG.md
  AgentQMS/bin/README.md
  AgentQMS/mcp_schema.yaml
  AgentQMS/mcp_server.py
  AgentQMS/middleware/policies.py
  AgentQMS/specs/tier1-contracts/artifact-types.spec.md
  AgentQMS/specs/tier1-contracts/file-placement-rules.spec.md
  AgentQMS/specs/tier1-contracts/workflow-requirements.spec.md
  AgentQMS/specs/tier2-framework/configuration.spec.md
  AgentQMS/specs/tier2-framework/core-infra.spec.md
  AgentQMS/specs/tier2-framework/ocr-engine.spec.md
  AgentQMS/specs/tier2-framework/patterns.spec.md
  AgentQMS/tools/compliance/doc_sync_audit.py
  AgentQMS/tools/compliance/spec_parser.py
  AgentQMS/tools/compliance/validators/directory.py
  AgentQMS/tools/core/context/context_bundle.py
  AgentQMS/tools/core/plugins/workflow_detector.py
Due: validate-path-usage

recover: apply deletion semantics from dde2a810 snapshot
  configs/train/callbacks/recognition_wandb.yaml
  ocr/domains/recognition/callbacks/wandb.py
  parseq_audit_directives.md.resolved
Due: validate-feature-first-architecture, validate-path-usage

Added checkpoint utility scripts.
  .gitignore
  configs/experiment/parseq_flash_fast.yaml
  configs/experiment/parseq_flash_plateau.yaml
  configs/experiment/parseq_flash_plateau_images.yaml
  configs/experiment/parseq_flash_wandb.yaml
  configs/global/paths.yaml
  configs/train/callbacks/checkpoint_acc.yaml
  configs/train/logger/wandb.yaml
  configs/train/scheduler/reduce_on_plateau.yaml
  configs/train/scheduler/reduce_on_plateau_acc.yaml
  docs/guides/checkpoint_and_logging_fixes.md
  docs/guides/wandb_run_names.md
  docs/reports/baseline_2026-02-16.md
  docs/reports/checkpoint_analysis_2026-02-16.md
  ocr/core/lightning/base.py
  scripts/performance/generate_baseline_report.py
  scripts/runners/run_probe_sweep.py
  scripts/utils/manage_checkpoints.py
  scripts/utils/rename_checkpoints.py
Due: forbid-pip-install, validate-feature-first-architecture, validate-path-usage

feat(logging): Planning batch level image logging to monitor samples with high loss.
  .gitignore
  configs/experiment/parseq_flash_fast.yaml
  configs/experiment/parseq_flash_plateau.yaml
  docs/reports/baseline_epoch_19_39_lr5e-5_2026-02-17.md
  docs/reports/checkpoint_loss_incident_2026-02-16.md
  ocr/core/lightning/callbacks/unique_checkpoint.py
  scripts/utils/fix_checkpoint_names.py
  scripts/utils/repair_checkpoint_state.py
  scripts/utils/test_checkpoint_naming.py
Due: forbid-pip-install, validate-feature-first-architecture, validate-path-usage

feat(data-quality): ocr data quality remediation planning phase complete. ready for execution.
  .gitignore
  AgentQMS/.mcp-telemetry.jsonl
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/00-status/2026-02-18_planning-status.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/README.md
  docs/__archive/guides/checkpoint_and_logging_fixes.md
  docs/__archive/guides/checkpoint_fix_summary.md
  docs/__archive/guides/checkpoint_management.md
  docs/__archive/guides/checkpoint_score_bug_fix.md
  docs/__archive/guides/mcp-tools-testing.md
  docs/__archive/guides/wandb_run_names.md
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/bug_reports/2026-02-18_1622_bug_001_score-zero-bug.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/INDEX.md
  scripts/audit/analyze_defect_distribution.py
  scripts/audit/analyze_sequence_lengths.py
  scripts/audit/compute_loss_distribution.py
  specs/003-ocr-data-quality-remediation/2026-02-18T16_SESSION_HANDOVER.md
  specs/003-ocr-data-quality-remediation/SESSION_HANDOVER.md
Due: validate-agentqms-artifacts, forbid-pip-install, validate-path-usage

Gate 0 — PASS | US1 (T015–T021) — COMPLETE `specs/003-ocr-data-quality-remediation/2026-02-18T17_SESSION_HANDOVER.md`
  .gitignore
  configs/data/quality/remediation.yaml
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/bg_norm_edge_based/20251218_1457_normalization-results_edge-based.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/bg_norm_gray_world/20251218_1457_normalization-results_gray-world.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/bg_norm_illumination/20251218_1457_normalization-results_illumination.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/deskew_combined/20251218_1828_deskewing-results_combined.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/deskew_hough/20251218_1828_deskewing-results_hough.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/deskew_projection/20251218_1827_deskewing-results_projection.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/full_pipeline_correct/drp.en_ko.in_house.selectstar_000732_results.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/full_pipeline_correct/pipeline_results.json
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/vlm_validation/week1_000699_bgn.md
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/vlm_validation/week1_001161_bgn.md
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/vlm_validation/week2_000699_deskew.md
  dev_tools/experiment_manager/experiments/20251217_024343_image_enhancements_implementation/outputs/vlm_validation/week2_001161_deskew.md
  dev_tools/experiment_manager/experiments/20251220_154834_zero_prediction_images_debug/outputs/sepia_comparison/drp.en_ko.in_house.selectstar_000732_REMBG_metrics.json
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260218_1600_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260218_1700_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/reports/20260218_1600_report_ocr-high-loss-baseline.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/templates/ocr-data-quality-audit-template.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/manifest.json
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/build_data_quality_baseline_report.py
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/export_high_loss_samples.py
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/label_defect_classes.py
Due: validate-path-usage

Plan: Attribute TRDG to Synthetic Data Spec (T037 Update)
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260218_1800_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260218_1900_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/guides/20260218_1900_guide_experiment-operations.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/reports/20260218_1900_report_artifact-linkage-audit.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/manifest.json
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/experiment/init_ocr_data_quality_experiment.sh
  specs/003-ocr-data-quality-remediation/SESSION_HANDOVER.md
  specs/003-ocr-data-quality-remediation/planning/ocr-synthetic-data-spec.md
  specs/003-ocr-data-quality-remediation/tasks.md
Due: none

SESSION COMPLETE — US4 (T033–T038) + T040
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260218_2100_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/manifest.json
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/create_golden_holdout_with_upstage.py
  specs/003-ocr-data-quality-remediation/SESSION_HANDOVER.md
  specs/003-ocr-data-quality-remediation/planning/ocr-golden-validation-strategy.md
  specs/003-ocr-data-quality-remediation/planning/ocr-synthetic-data-spec.md
Due: validate-path-usage

Gate: Gate 1 PASS | Phase 7 COMPLETE | Pre-Gate 4 ALL CLEARED PLANNING COMPLETE. Gate 2 Execution.
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260219_1000_SESSION_HANDOVER.md
  docs/reports/2026-02-19_ocr-data-quality-remediation-execution-ready.md
  docs/reports/2026-02-xx_ocr-data-quality-remediation-execution-ready.md
  pyproject.toml
  specs/003-ocr-data-quality-remediation/SESSION_HANDOVER.md
  specs/003-ocr-data-quality-remediation/tasks.md
  uv.lock
Due: none

fix(registry): make generate_registry idempotent; reformat AG-006 spec
  AgentQMS/.agentqms/registry.yaml
  AgentQMS/specs/tier2-framework/agent-infra.spec.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260219_1100_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260219_1130_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/create_golden_holdout_with_upstage.py
  scripts/utils/generate_registry.py
  specs/003-ocr-data-quality-remediation/SESSION_HANDOVER.md
Due: forbid-pip-install, validate-path-usage

Plan added for global-agenqms.
  .env.template
  .vscode/mcp.json
  AgentQMS/.mcp-telemetry.jsonl
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260221_1200_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260221_1400_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260221_1500_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260221_1600_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260221_1800_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260221_1930_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/.metadata/20260225_1100_SESSION_HANDOVER.md
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/disc01_discriminator_accuracy.py
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/analysis/risk01_ctc_loss_inference.py
  dev_tools/experiment_manager/experiments/20260217_154031_ocr_dq_exec_phase1_filtered/scripts/experiment/build_candidates_jsonl.py
  docker/docker-compose.yml
  pyproject.toml
  specs/004-global-agentqms/CONSTITUTION.md
  specs/004-global-agentqms/ORDER_OF_OPERATIONS.md
  specs/004-global-agentqms/runs/2026-03-17_0000/backlog.md
  specs/004-global-agentqms/runs/2026-03-17_0000/spec_index.md
  specs/004-global-agentqms/runs/2026-03-17_0000/specs/spec_A_dynamic_project_resolution.md
  specs/004-global-agentqms/runs/2026-03-17_0000/specs/spec_B_cli_entry_point.md
  specs/004-global-agentqms/runs/2026-03-17_0000/specs/spec_C_init_scaffolding.md
  specs/004-global-agentqms/session_handovers/SESSION_HANDOVER_2026-03-17_0000.md
  uv.lock
Due: validate-path-usage

Implemented all requested closures for R-10, R-13, and R-14 with validation evidence and risk-registry updates.
  .github/copilot-instructions.md
  AGENTS.md
  AgentQMS/AGENTS.yaml
  AgentQMS/bin/aqms
  AgentQMS/cli.py
  AgentQMS/mcp_server.py
  AgentQMS/specs/tier1-contracts/architecture.spec.md
  AgentQMS/specs/tier4-workflows/validation.spec.md
  AgentQMS/tools/core/artifacts/artifact_templates.py
  AgentQMS/tools/core/artifacts/autofix_artifacts.py
  AgentQMS/tools/core/artifacts/status.py
  AgentQMS/tools/core/artifacts/tracking_integration.py
  AgentQMS/tools/core/artifacts/versioning.py
  AgentQMS/tools/core/artifacts/workflow.py
  AgentQMS/tools/core/context/context_bundle.py
  AgentQMS/tools/core/mcp/__init__.py
  AgentQMS/tools/core/mcp/handlers.py
  AgentQMS/tools/core/plugins/workflow_detector.py
  AgentQMS/tools/generate_mechanized_graph.py
  AgentQMS/tools/utils/config/__init__.py
  AgentQMS/tools/utils/config/loader.py
  AgentQMS/tools/utils/system/git.py
  AgentQMS/tools/utils/system/timestamps.py
  docs/artifacts/design_documents/RISK_REGISTRY.md
  scripts/mcp/smoke_mcp_dispatch.py
  scripts/mcp/smoke_mechanized_graph.py
  scripts/mcp/smoke_paths_consumers.py
  scripts/mcp/smoke_project_root_resolution.py
  specs/004-global-agentqms/runs/2026-03-17_0000/specs/spec_B_cli_entry_point.md
Due: validate-agentqms-artifacts, forbid-pip-install, validate-path-usage

Implement global CLI surfaces and init scaffolding.
  AgentQMS/cli.py
  AgentQMS/tests/test_middleware_health.py
  scripts/mcp/smoke_project_root_resolution.py
  specs/004-global-agentqms/runs/2026-03-17_0000/backlog.md
Due: forbid-pip-install, validate-path-usage

Added Docker Compose file for running Ollama models from WSL2.
  AgentQMS/.mcp-telemetry.jsonl
  docker/docker-compose.ollama.yml
Due: none

global agentqms refactor complete.
  AGENTS.md
  AgentQMS/AGENTS.yaml
  AgentQMS/CHANGELOG.md
  bin/qwen
  dev_tools/airflow_batch_processor/windows_agent_bridge/bridge_server.py
  dev_tools/airflow_batch_processor/windows_agent_bridge/kiwoom_handler.py
  dev_tools/airflow_batch_processor/windows_agent_bridge/requirements.txt
  docker/docker-compose.yml
  pyproject.toml
  uv.lock
Due: validate-path-usage

Commit live WSL2->native migration state for docker-compose files
  docker/docker-compose.ollama.yml
  docker/docker-compose.yml
Due: none

Fix Ollama context truncation on VLM batch calls
  docker/docker-compose.ollama.yml
Due: none
