Repository Wchoi189/upstageailab-ocr-recsys-competition-ocr-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-diagram-updates, validate-agentqms-artifacts, ads-compliance-check, forbid-pip-install

check-diagram-updates:
  name: check-diagram-updates
  entry: uv run python scripts/generate_diagrams.py --check-changes
  language: system
  pass_filenames: false

validate-agentqms-artifacts:
  name: validate-agentqms-artifacts
  entry: uv run python AgentQMS/agent_tools/compliance/validate_artifacts.py --no-refresh
  language: system
  pass_filenames: true

ads-compliance-check:
  name: ADS v1.0 Compliance Check
  entry: uv run python .ai-instructions/schema/compliance-checker.py
  language: system
  pass_filenames: true

forbid-pip-install:
  name: forbid-pip-install
  entry: uv run python scripts/ci/forbid_pip_install.py
  language: system

ci: fix workflow warnings and shell injection in translation actions
  .github/workflows/translate-docs-batch.yml
  .github/workflows/translation-action.yml
Due: none

docs: update Korean translation [skip ci]
  README.ko.md
Due: none

docs: add Korean translation for docs/artifacts/assessments/2026-01-03_1200_assessment-layoutlmv3-kie-receipt-failure.md [skip ci]
  docs/artifacts/assessments/2026-01-03_1200_assessment-layoutlmv3-kie-receipt-failure.ko.md
  docs/artifacts/assessments/2026-01-03_1200_assessment-layoutlmv3-kie-receipt-failure.ko.md.meta
Due: validate-agentqms-artifacts

ci: fix critical workflow issues causing CI failures
  .github/workflows/build-container.yml
  .github/workflows/translate-docs-batch.yml
  .github/workflows/translation-action.yml
Due: none

ci: fix AgentQMS validation failures - add PYTHONPATH and use uv
  .github/workflows/agentqms-ci.yml
  .github/workflows/ci.yml
Due: none

ci: standardize GitHub Actions versions to v5
  .github/workflows/agentqms-autofix.yml
  .github/workflows/agentqms-ci.yml
  .github/workflows/build-container.yml
  .github/workflows/ci.yml
Due: none

fix(agentqms): correct check-links Makefile target to use validate_links.py
  AgentQMS/bin/Makefile
Due: none

fix(devcontainer): add cloud-optimized config and comprehensive fix guide
  .devcontainer/CLOUD_SETUP_FIXES.md
  .devcontainer/devcontainer.cloud.json
Due: none

fix(agentqms): fix artifact naming and add missing frontmatter fields
  docs/artifacts/bug_reports/2026-01-03_1937_BUG_003_mcp-server-resource-reading-failure.md
  docs/artifacts/guides/2025-12-29_1143_guide_disabled-workflows-and-secrets.md
  docs/artifacts/implementation_plans/2026-01-05_1750_implementation_plan_data-merge.md
  docs/artifacts/implementation_plans/2026-01-05_1750_implementation_plan_master-refactoring.md
  docs/artifacts/implementation_plans/2026-01-05_1854_implementation_plan_github-sync-extension.md
  docs/artifacts/implementation_plans/2026-01-05_1900_implementation_plan_github-sync-entrypoints.md
Due: validate-agentqms-artifacts

chore(agentqms): update generated state files after artifact fixes
  AgentQMS/.agentqms/effective.yaml
  AgentQMS/.agentqms/state/plugins.yaml
Due: none

fix(tests): fix registry mock pollution in test_config_safety.py
  tests/test_config_safety.py
Due: none

feat(ci): add comprehensive CI automation to reduce failure feedback time
  docs/CI_AUTOMATION_PLAN.md
  scripts/check_test_isolation.py
  scripts/ci-fast-feedback.yml
  scripts/local-ci-check.sh
Due: forbid-pip-install

build: install gh CLI in Dockerfile
  docker/Dockerfile
Due: none

docs(compass): Update progress tracker - Phase 1 & 2 complete
  project_compass/active_context/current_session.yml
  project_compass/compass.json
  project_compass/roadmap/master_refactoring.yaml
  project_compass/session_handover.md
Due: none

refactor(phase3): Migrate PARSeq recognition models to feature package
  configs/model/recognition/parseq.yaml
  configs/train_parseq.yaml
  ocr/models/__init__.py
  ocr/models/architectures/__init__.py
  ocr/recognition/models/__init__.py
  ocr/recognition/models/architecture.py
  ocr/recognition/models/decoder.py
  ocr/recognition/models/head.py
Due: check-diagram-updates

refactor(phase4): Migrate KIE and Detection features to dedicated packages
  ocr/detection/__init__.py
  ocr/detection/models/__init__.py
  ocr/detection/models/architectures/__init__.py
  ocr/detection/models/architectures/craft.py
  ocr/detection/models/architectures/dbnet.py
  ocr/detection/models/architectures/dbnetpp.py
  ocr/detection/models/decoders/__init__.py
  ocr/detection/models/decoders/craft_decoder.py
  ocr/detection/models/decoders/dbpp_decoder.py
  ocr/detection/models/decoders/fpn_decoder.py
  ocr/detection/models/encoders/__init__.py
  ocr/detection/models/encoders/craft_vgg.py
  ocr/detection/models/heads/__init__.py
  ocr/detection/models/heads/craft_head.py
  ocr/detection/models/heads/db_head.py
  ocr/detection/models/postprocess/__init__.py
  ocr/detection/models/postprocess/craft_postprocess.py
  ocr/detection/models/postprocess/db_postprocess.py
  ocr/kie/__init__.py
  ocr/kie/data/__init__.py
  ocr/kie/data/dataset.py
  ocr/kie/models/__init__.py
  ocr/kie/models/model.py
  ocr/kie/trainer.py
  ocr/models/architectures/__init__.py
  ocr/models/architectures/shared_decoders.py
  ocr/models/decoder/__init__.py
  ocr/models/encoder/__init__.py
  ocr/models/head/__init__.py
  runners/kie_predictor.py
  runners/train_kie.py
  scripts/troubleshooting/test_model_forward_backward.py
  tests/integration/test_collate_integration.py
  tests/ocr/models/test_model_postprocessing_integration.py
  tests/ocr/models/test_postprocessing_shapes.py
  tests/unit/test_craft_components.py
  tests/unit/test_dbnetpp_components.py
  tests/unit/test_head.py
Due: check-diagram-updates, forbid-pip-install

docs(compass): Update session handover for Phase 4 completion
  project_compass/session_handover.md
Due: none

docs(architecture): Add Phase 4 refactor summary and architecture overview
  docs/architecture/REFACTOR_PHASE_4_SUMMARY.md
Due: none

docs(compass): Mark all 5 refactor phases complete
  project_compass/session_handover.md
Due: none

chore: remove unwanted .ai-instructions directory
  .ai-instructions/tier3-agents/claude/.claude.json
  .claude/settings.local.json
  .cursor/instructions.md
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  AgentQMS/standards/tier4-workflows/compliance-reporting/generate-compliance-report.py
  docs/index.md
Due: none

fix(paths): artifact path generation inconsistencies discovered and resolved. See "docs/artifacts/audits/2026-01-03_1559_audit-agentqms-standards-path-audit.md".
  AgentQMS/tools/core/artifact_templates.py
  README.ko.md
  docs/artifacts/bug_reports/2025-12-27_2124_BUG_001_config-silent-failure.md
  docs/artifacts/bug_reports/2026-01-04_1730_BUG_003_config-precedence-leak.ko.md
  docs/artifacts/bug_reports/INDEX.md
  docs/migration_plan_underscore_naming.md
  scripts/migrate_to_underscore_naming.py
  tools/translate_document.py
Due: validate-agentqms-artifacts, forbid-pip-install

feat(adt): Phase 3.2 - intelligent-search analyzer + MCP tool groups
  .qwen/settings.json
  AGENTS.yaml
  Makefile
  agent-debug-toolkit/AI_USAGE.yaml
  agent-debug-toolkit/src/agent_debug_toolkit/analyzers/context_tree.py
  agent-debug-toolkit/src/agent_debug_toolkit/analyzers/intelligent_search.py
  agent-debug-toolkit/src/agent_debug_toolkit/cli.py
  agent-debug-toolkit/src/agent_debug_toolkit/mcp_server.py
  configs/_foundation/core.yaml
  configs/base.yaml
  docs/artifacts/guides/2026-01-07_2347_guide-mcp-architecture-guide.md
  docs/artifacts/walkthroughs/2026-01-08_1209_mcp-tool-groups-ast-analyzer.md
  project_compass/history/sessions/20260107_232850_2026-01-07_phase1_2_complete/active_context/current_session.yml
  project_compass/history/sessions/20260107_232850_2026-01-07_phase1_2_complete/manifest.json
  project_compass/history/sessions/20260107_232850_2026-01-07_phase1_2_complete/session_handover.md
  project_compass/history/sessions/20260108_005808_2026-01-07_phase1_2_complete/active_context/current_session.yml
  project_compass/history/sessions/20260108_005808_2026-01-07_phase1_2_complete/manifest.json
  project_compass/history/sessions/20260108_005808_2026-01-07_phase1_2_complete/session_handover.md
  project_compass/scripts/session_manager.py
  scripts/mcp/mcp_tools_config.yaml
  scripts/mcp/shared_config.json
  scripts/mcp/unified_server.py
  tools/translate_document.py
Due: check-diagram-updates, validate-agentqms-artifacts, forbid-pip-install

Fix: Correct duplicate argument in artifact creation tool call
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/2026-01-08_0253_audit-project-compass-session-workflow.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/2026-01-08_0302_implementation_plan_consolidate-session-docs.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  project_compass/AGENTS.yaml
  project_compass/AI_ENTRYPOINT.md
  project_compass/active_context/current_session.yml
  project_compass/history/sessions/20260107_151929_phase1_ast_analyzer/active_context/current_session.yml
  project_compass/history/sessions/20260107_151929_phase1_ast_analyzer/manifest.json
  project_compass/history/sessions/20260107_151929_phase1_ast_analyzer/session_handover.md
  project_compass/history/sessions/20260107_165741_ocr_refactor_complete/active_context/current_session.yml
  project_compass/history/sessions/20260107_165741_ocr_refactor_complete/manifest.json
  project_compass/history/sessions/20260107_165741_ocr_refactor_complete/session_handover.md
  project_compass/history/sessions/20260107_232850_phase3_2_context_tree/active_context/current_session.yml
  project_compass/history/sessions/20260107_232850_phase3_2_context_tree/manifest.json
  project_compass/history/sessions/20260107_232850_phase3_2_context_tree/session_handover.md
  project_compass/history/sessions/20260108_005808_phase3_2_complete/active_context/current_session.yml
  project_compass/history/sessions/20260108_005808_phase3_2_complete/manifest.json
  project_compass/history/sessions/20260108_005808_phase3_2_complete/session_handover.md
  project_compass/scripts/session_manager.py
  scripts/mcp/unified_server.py
Due: validate-agentqms-artifacts, forbid-pip-install

fix(ci): Resolved devcontainer disk space error and project manager error.
  .github/workflows/build-container.yml
  .vscode/mcp.json
  AgentQMS/bin/artifacts_violations_history.json
  AgentQMS/standards/tier2-framework/coding-standards.yaml
  AgentQMS/standards/tier2-framework/configuration-standards.yaml
  AgentQMS/tools/core/artifact_workflow.py
  docker/Dockerfile
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/2026-01-08_0340_implementation_plan_cleanup-organization-plan.md
  docs/artifacts/implementation_plans/2026-01-08_0359_implementation_plan_hydra-config-restructuring.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  project_compass/active_context/current_session.yml
  project_compass/compass.json
  project_compass/history/sessions/20260108_040529_2026-01-08-Phase_3_2_Complete/active_context/current_session.yml
  project_compass/history/sessions/20260108_040529_2026-01-08-Phase_3_2_Complete/manifest.json
  project_compass/history/sessions/20260108_040529_2026-01-08-Phase_3_2_Complete/session_handover.md
  project_compass/history/sessions/20260108_040529_2026-01-08-Phase_3_2_Complete/session_handover_20260108_040529.md
  project_compass/session_handover.md
  scripts/mcp/mcp_tools_config.yaml
Due: validate-agentqms-artifacts

docs(configs): Updated documentation on Hydra configurations inside AgentQMS/standards/*.yaml.
  .gitignore
  AgentQMS/standards/INDEX.yaml
  AgentQMS/standards/tier1-sst/system-architecture.yaml
  AgentQMS/standards/tier2-framework/hydra-configuration-architecture.yaml
  analysis/metrics_comparison.md
  analysis/phase8_cicd_audit.md
  analysis/project_completion_summary.md
  configs/README.md
  configs/__EXTENDED__/examples/predict_shadow_removal.yaml
  configs/__EXTENDED__/experiments/train_v2.yaml
  configs/__LEGACY__/README_20260108_deprecated.md
  configs/eval.yaml
  configs/predict.yaml
  docs/artifacts/assessments/2026-01-08_1924_assessment-hydra-config-metadata-standardization.md
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/2026-01-08_2010_implementation_plan_2026-01-08-stablization-plan.md.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
  project_compass/active_context/current_session.yml
  project_compass/session_handover.md
Due: check-diagram-updates, validate-agentqms-artifacts

chore: remove tracked Claude runtime files
  AgentQMS/standards/tier3-agents/claude/.claude.json
  AgentQMS/standards/tier3-agents/claude/.credentials.json
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/038787aaac1c382a@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/0b59637b33ec5990@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/10fcd27a321bd0b4@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/1aebe0d864e485f1@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/1aebe0d864e485f1@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/1aebe0d864e485f1@v3
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/2fbbc879e56c3675@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/2fbbc879e56c3675@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/5387ff5634bfb723@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/568ab2f24fb9f331@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/568ab2f24fb9f331@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/568ab2f24fb9f331@v3
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/56bb3c07387ad541@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/61de5624549bdbaa@v2
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/6be01b632f6ba566@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/e5819dcb8d5deed6@v1
  AgentQMS/standards/tier3-agents/claude/file-history/2fd12a2f-a478-4cb3-809a-bd7b4d6c6cdb/ed759bc89644211d@v1
Due: none

refactor(scripts): Complete scripts directory audit and reorganization
  .github/workflows/ci-fast-feedback.yml
  AGENTS.yaml
  docs/artifacts/bug_reports/2025-12-23_0900_BUG_001_startup-latency.md
  docs/artifacts/implementation_plans/2025-12-25_0410_implementation_plan_phase1-core-recognition.md
  docs/artifacts/implementation_plans/2025-12-25_0410_implementation_plan_phase2-pipeline-integration.md
  docs/guides/codespaces-setup.md
  scripts/__REVIEW__/deprecated_extract_paddleocr_data.py
  scripts/__REVIEW__/deprecated_optimize_images_v1.py
  scripts/__REVIEW__/duplicate_ci_update_diagrams_no_uv.sh
  scripts/__REVIEW__/duplicate_manage_diagrams.sh
  scripts/ci/analyze_mypy_errors.py
  scripts/ci/check_test_isolation.py
  scripts/ci/verify_refactor.sh
  scripts/data/convert_images_to_webp.py
  scripts/data/download_hf_datasets.py
  scripts/data/download_hf_sample.py
  scripts/data/extract_charset.py
  scripts/data/preprocess.py
  scripts/data/preprocess_data.py
  scripts/data/process_kie_to_rec.py
  scripts/debug/view_api_usage.py
  scripts/debug/view_parquet.py
  scripts/demos/test_perspective_inference.py
  scripts/documentation/ci_update_diagrams.sh
  scripts/documentation/generate_diagrams.py
  scripts/documentation/manage_diagrams.sh
  scripts/documentation/translate_readme.py
  scripts/huggingface/hf_inference_simple.py
  scripts/local-ci-check.sh
  scripts/migration_refactoring/fix_export_paths.py
  scripts/migration_refactoring/migrate_to_underscore_naming.py
  scripts/performance/benchmark_pipeline.py
  scripts/performance/benchmark_recognition.py
  scripts/performance/profile_checks.py
  scripts/setup/setup-codespaces.sh
  scripts/validation/validate_config.py
  scripts/validation/validate_environment.py
Due: validate-agentqms-artifacts, forbid-pip-install

fix(ci): Agentqms auto-generated plugin paths used absolute paths which caused problems. Changed to relative paths.
  .gitignore
  AgentQMS/.agentqms/state/plugins.yaml
  AgentQMS/tools/core/plugins/discovery.py
  AgentQMS/tools/core/plugins/loader.py
  docs/artifacts/assessments/2026-01-09_1451_assessment-agentqms-autofix-path-mutation.md
  docs/artifacts/assessments/INDEX.md
  docs/artifacts/audits/INDEX.md
  docs/artifacts/bug_reports/INDEX.md
  docs/artifacts/completed_plans/INDEX.md
  docs/artifacts/design_documents/INDEX.md
  docs/artifacts/implementation_plans/2026-01-09_1508_implementation_plan_agentqms-path-portability-completed.md
  docs/artifacts/implementation_plans/INDEX.md
  docs/artifacts/research/2026-01-09_1515_research-agentqms-plugin-system-evolution.md
  docs/artifacts/research/INDEX.md
  docs/artifacts/templates/INDEX.md
Due: validate-agentqms-artifacts

feat(docs): Phase 6 - Extension Developer Documentation
  AgentQMS/.agentqms/plugins/artifact_types/example_artifact.yaml
  docs/guides/creating-artifact-type-plugins.md
  project_compass/active_context/session_8_phase6_developer_docs.md
  project_compass/roadmap/00_agentqms_artifact_consolidation.yaml
Due: none

Path conditions:
  check-diagram-updates: any of: ^(ocr/|ui/|configs/|scripts/generate_diagrams\.py)
  validate-agentqms-artifacts: any of: ^docs/artifacts/.*\.md$, but not: /archive/
  ads-compliance-check: any of: ^\.ai-instructions/(tier1-sst|tier2-framework)/.*\.yaml$
  forbid-pip-install: any of: ^(scripts/.*\.(sh|py)|AgentQMS/interface/Makefile)$
