Repository Wchoi189/upstageailab-ocr-recsys-competition-ocr-2: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentqms-artifacts, ads-compliance-check, forbid-pip-install, validate-feature-first-architecture, validate-path-usage

validate-agentqms-artifacts:
  name: validate-agentqms-artifacts
  entry: uv run python AgentQMS/tools/compliance/validate_artifacts.py --no-refresh
  language: system
  pass_filenames: true

ads-compliance-check:
  name: ADS v1.0 Compliance Check
  entry: uv run python AgentQMS/standards/schemas/compliance-checker.py
  language: system
  pass_filenames: true

forbid-pip-install:
  name: forbid-pip-install
  entry: uv run python scripts/ci/forbid_pip_install.py
  language: system

validate-feature-first-architecture:
  name: Validate Feature-First Architecture
  entry: uv run python scripts/hooks/validate_architecture.py
  language: system
  pass_filenames: true

validate-path-usage:
  name: Validate Path Usage
  entry: uv run python scripts/hooks/validate_path_usage.py
  language: system
  pass_filenames: true

docs: Add nuclear refactor handover instructions for legacy system removal
  NUCLEAR_REFACTOR_HANDOVER.md
Due: none

refactor(agentqms)!: Nuclear refactor - Complete legacy system removal
  AgentQMS/.agentqms/settings.yaml
  AgentQMS/AGENTS.yaml
  AgentQMS/CHANGELOG.md
  AgentQMS/DEPRECATION_PLAN.md
  AgentQMS/README.md
  AgentQMS/standards/.archive/INDEX.yaml
  AgentQMS/standards/.archive/standards-router.yaml
  AgentQMS/tools/compliance/documentation_quality_monitor.py
  AgentQMS/tools/compliance/monitor_artifacts.py
  AgentQMS/tools/compliance/validate_artifacts.py
  AgentQMS/tools/core/artifact_workflow.py
  AgentQMS/tools/utilities/agent_feedback.py
  experiment_manager/src/etk/compass.py
  ocr/core/evaluation/evaluator.py
  ocr/core/inference/engine.py
  ocr/core/utils/geometry_utils.py
  ocr/core/utils/polygon_utils.py
  ocr/data/datasets/db_collate_fn.py
Due: validate-feature-first-architecture, validate-path-usage

fix(agentqms): Update automation to use qms CLI and restore implementation files
  .github/workflows/agentqms-ci.yml
  .pre-commit-config.yaml
  AgentQMS/.agentqms/effective.yaml
  AgentQMS/README.md
  AgentQMS/bin/Makefile
  AgentQMS/bin/qms
  AgentQMS/tools/compliance/documentation_quality_monitor.py
  AgentQMS/tools/compliance/monitor_artifacts.py
  AgentQMS/tools/compliance/validate_artifacts.py
  AgentQMS/tools/core/artifact_workflow.py
  AgentQMS/tools/utilities/agent_feedback.py
Due: forbid-pip-install, validate-path-usage

fix(ci): Add qms CLI to PATH in CI workflows
  .github/workflows/agentqms-ci.yml
  .github/workflows/ci.yml
Due: none

debug: dual architecture
  AgentQMS/.agentqms/plugins/context_bundles/project-compass.yaml
  ocr/pipelines/engine.py
  project_compass/config_deps.txt
  project_compass/context_tree.txt
  pyproject.toml
  resolved_recognition.yaml
  uv.lock
Due: validate-feature-first-architecture, validate-path-usage

fix(architecture): Restore Domains First architecture by removing legacy shims
  CLEANUP_SUMMARY_2026-01-19.md
  COMMIT_ANALYSIS_DUAL_ARCHITECTURE.md
  Legacy_Scripts_Cleanup_Recommendations.md
  Performance_Audit_OCR_Training_Pipeline_Bottlenecks_1.md
  Performance_Audit_Supplement_Orchestrator_Findings.md
  Quick_Win_Performance_Summary.md
  experiment_manager/src/etk/compass.py
  ocr/core/evaluation/evaluator.py
  ocr/core/inference/engine.py
  ocr/core/lightning/ocr_pl.py
  ocr/core/utils/geometry_utils.py
  ocr/core/utils/polygon_utils.py
  ocr/data/datasets/__init__.py
  ocr/data/datasets/db_collate_fn.py
  tests/integration/test_collate_integration.py
  tests/integration/test_ocr_lightning_predict_integration.py
  tests/ocr/datasets/test_db_collate_polygon_shapes.py
  tests/ocr/datasets/test_map_loading_caching.py
  tests/ocr/datasets/test_ocr_dataset_and_collate.py
  tests/ocr/datasets/test_polygon_filtering.py
  tests/ocr/utils/test_orientation.py
  tests/test_etk_compass.py
  tests/unit/test_evaluator.py
  tests/unit/test_geometry_utils_coordinate_transformation.py
  tests/unit/test_lightning_module.py
  unintended-results.md
Due: validate-feature-first-architecture, validate-path-usage

fix(inference): Remove engine imports from __init__ to avoid circular import
  ocr/core/inference/__init__.py
Due: validate-feature-first-architecture, validate-path-usage

fix(engine): Comment out InferenceOrchestrator to resolve circular import
  ocr/pipelines/engine.py
Due: validate-feature-first-architecture, validate-path-usage

docs: Add comprehensive session handover for architecture purge
  MIGRATION_CHECKLIST.md
  SESSION_HANDOVER_ARCHITECTURE_PURGE.md
Due: none

analysis: Add AST/MCP tool outputs for architecture migration
  analysis/architecture-migration-2026-01-21/INDEX.md
  analysis/architecture-migration-2026-01-21/README.md
  analysis/architecture-migration-2026-01-21/broken_imports_full_list.txt
Due: none

chore: Organize root directory - move migration docs to analysis/
  AgentQMS/.agentqms/state/plugins.yaml
  AgentQMS/.mcp-telemetry.jsonl
  analysis/architecture-migration-2026-01-21/00-START-HERE.md
  analysis/architecture-migration-2026-01-21/ARCHITECTURE_RESTORATION_SUMMARY.md
  analysis/architecture-migration-2026-01-21/BRANCH_COMPARISON.md
  analysis/architecture-migration-2026-01-21/COMMIT_ANALYSIS_DUAL_ARCHITECTURE.md
  analysis/architecture-migration-2026-01-21/MIGRATION_CHECKLIST.md
  analysis/architecture-migration-2026-01-21/PIPELINE_ARCHITECTURE_TRUTH.md
  analysis/architecture-migration-2026-01-21/SESSION_HANDOVER_ARCHITECTURE_PURGE.md
  configs_output.md
  notepad_train_cmds.md
  unintended-results.md
Due: none

Surgical Core Audit 2 WIP
  ocr/core/lightning/__init__.py
  ocr/core/lightning/base.py
  ocr/domains/detection/models/loss/db_loss.py
  ocr/domains/recognition/models/architecture.py
  project_compass/AGENTS.md
  project_compass/feedback_log.md
  project_compass/mcp_schema.yaml
  project_compass/roadmap/ocr-domain-refactor.yml
  project_compass/session_handover.md
  tests/ocr/metrics/test_cleval_metric.py
  tests/unit/test_metrics.py
Due: validate-feature-first-architecture, validate-path-usage

fix(ci): robust translation workflow and script
  .github/workflows/translate-docs-batch.yml
  .github/workflows/translation-action.yml
  scripts/data/translate_document.py
Due: forbid-pip-install, validate-path-usage

docs: update Korean translation [skip ci]
  README.ko.md
Due: none

docs: add Korean translation for docs/artifacts/assessments/2026-01-03_1200_assessment-layoutlmv3-kie-receipt-failure.md [skip ci]
  docs/artifacts/assessments/2026-01-03_1200_assessment-layoutlmv3-kie-receipt-failure.ko.md.meta
Due: none

docs: add Korean translation for docs/artifacts/bug_reports/2026-01-04_1730_BUG_003_config-precedence-leak.md [skip ci]
  docs/artifacts/bug_reports/2026-01-04_1730_BUG_003_config-precedence-leak.ko.md.meta
Due: none

fix(ci): avoid push rejection in translation workflows
  .github/workflows/translate-docs-batch.yml
  .github/workflows/translation-action.yml
Due: none

feat(iacp): Iacp plan research WIP
  .devcontainer/devcontainer.json
  .devcontainer/mcp_servers.yaml
  .qwen/settings.json
  .vscode/mcp.json
  AgentQMS/.agentqms/plugins/context_bundles/agent-configuration.yaml
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/standards/tier2-framework/context-keywords.yaml
  AgentQMS/standards/tier2-framework/ollama-models.yaml
  AgentQMS/tools/core/context_bundle.py
  AgentQMS/tools/utilities/context_control.py
  CHANGELOG.md
  config_health_report.txt
  docker/.bashrc
  docker/Dockerfile
  docker/docker-compose.yml
  factorial.py
  handshake.py
  iacp-plan-research-conversation.md
  project_compass/.vessel/vessel_state.json
  project_compass/pulse_staging/artifacts/constitution.md
  setup-env.sh
Due: validate-path-usage

feat(iacp): Iacp Phases 1-3 complete. Needs testing.
  AGENTS.md
  AgentQMS/.mcp-telemetry.jsonl
  AgentQMS/CHANGELOG.md
  AgentQMS/bin/janitor.py
  AgentQMS/bin/verify_infra.py
  AgentQMS/cli.py
  AgentQMS/context-bundle-audit_deprecated.md
  AgentQMS/context-bundle-walkthrough.md
  AgentQMS/tools/compliance/preflight_check.py
  AgentQMS/tools/multi_agent/rabbitmq_transport.py
  AgentQMS/tools/utils/config_loader.py
  docs/artifacts/walkthroughs/2026-01-25_0123_walkthrough_iacp.md
  docs/artifacts/walkthroughs/2026-01-25_0153_walkthrough-multi-agent-iacp-Migration.md
  docs/artifacts/walkthroughs/2026-01-25_0222_walkthrough-multi-agent-iacp-Migration.md
  docs/artifacts/walkthroughs/2026-01-25_walkthrough-multi-agent-iacp-Migration.md
  ocr/core/__init__.py
  ocr/core/infrastructure/agents/base_agent.py
  ocr/core/infrastructure/agents/llm/__init__.py
  ocr/core/infrastructure/agents/llm/qwen_client.py
  ocr/core/infrastructure/agents/ocr_agent.py
  ocr/core/infrastructure/agents/validation_agent.py
  ocr/core/infrastructure/communication/iacp_schemas.py
  project_compass/.vessel/vessel_state.json
  project_compass/mcp_server.py
  project_compass/pulse_staging/artifacts/implementation_plan.md
  project_compass/pulse_staging/artifacts/walkthrough.md
  pyproject.toml
  runners/batch_pseudo_labels.py
  tests/integration/run_agent_only.py
  tests/integration/run_client_only.py
  tests/integration/test_iacp_validation_flow.py
  uv.lock
Due: validate-feature-first-architecture, validate-path-usage

refactor: domains first architecture fix imports
  .devcontainer/devcontainer.json
  AgentQMS/.mcp-telemetry.jsonl
  docker/Dockerfile
  project_compass/.vessel/vessel_state.json
  project_compass/history/session-1/20260125_025601_iacp-migrate-multi-agent/constitution.md
  project_compass/history/session-1/20260125_025601_iacp-migrate-multi-agent/implementation_plan.md
  project_compass/history/session-1/20260125_025601_iacp-migrate-multi-agent/pulse_manifest.json
  project_compass/history/session-1/20260125_025601_iacp-migrate-multi-agent/walkthrough.md
Due: none

**Objective:** Resolve 81 broken imports and 12 broken Hydra targets **Progress:** Partial - encountered architectural conflict **Status:** Paused - requires planning
  configs/model/architectures/dbnet_atomic.yaml
  configs/model/architectures/parseq.yaml
  ocr/core/infrastructure/agents/coordinator_agent.py
  ocr/core/infrastructure/agents/linting_agent.py
  ocr/core/infrastructure/agents/llm/grok_client.py
  ocr/core/infrastructure/agents/llm/openai_client.py
  ocr/core/models/architecture.py
  ocr/core/models/encoder/timm_backbone.py
  ocr/core/utils/dependency_check.py
  ocr/domains/detection/models/decoders/craft_decoder.py
  ocr/domains/detection/models/decoders/dbpp_decoder.py
  ocr/domains/detection/models/decoders/fpn_decoder.py
  ocr/domains/detection/models/decoders/pan_decoder.py
  ocr/domains/detection/models/decoders/unet.py
  ocr/domains/detection/models/encoders/craft_vgg.py
  ocr/domains/detection/models/heads/craft_head.py
  ocr/domains/detection/models/loss/__init__.py
  ocr/domains/detection/models/loss/craft_loss.py
  ocr/domains/detection/models/loss/db_loss.py
  ocr/domains/recognition/models/loss/cross_entropy_loss.py
  project_compass/.vessel/vessel_state.json
  project_compass/pulse_staging/OPTION1_IMPLEMENTATION_SUMMARY.md
  project_compass/pulse_staging/PHASE34_EXECUTION_PLAN.md
  project_compass/pulse_staging/SESSION_HANDOVER_2026-01-25.md
  project_compass/pulse_staging/artifacts/hydra-refactor-session-walkthrough.md
  project_compass/pulse_staging/hydra-refactor-progress-tracking.md
  project_compass/vault/milestones/ocr-hydra-refactor-roadmap.md
  scripts/audit/batch_fix_imports.py
  scripts/audit/fix_hydra_targets.py
  scripts/audit/hydra_target_linter.py
  scripts/troubleshooting/test_model_forward_backward.py
Due: forbid-pip-install, validate-feature-first-architecture, validate-path-usage

Phase 1: ADS v2.0 Foundation - Schema, Compiler, and Pilot Standards
  AgentQMS/standards/architecture_map.dot
  AgentQMS/standards/registry.yaml
  AgentQMS/standards/schemas/ads-header.json
  AgentQMS/standards/tier1-sst/artifact-types.yaml
  AgentQMS/standards/tier1-sst/naming-conventions.yaml
  AgentQMS/tests/test_sync_registry.py
  AgentQMS/tools/sync_registry.py
Due: validate-path-usage

Phase 2-3 Foundations: Resolver and Migration Tools
  AgentQMS/standards/.ads_cache.pickle
  AgentQMS/standards/registry.yaml
  AgentQMS/tools/resolve_standards.py
  AgentQMS/tools/suggest_header.py
  AgentQMS/tools/sync_registry.py
Due: validate-path-usage

Phase 4: Integration & Automation - ADS v2.0 Registry System
  .github/workflows/validate-standards.yml
  .pre-commit-config.yaml
  AgentQMS/cli.py
  AgentQMS/tools/core/context_bundle.py
  AgentQMS/tools/core/standards_resolver_integration.py
  docs/artifacts/implementation_plans/registry-automation-PHASE4-COMPLETE.md
Due: validate-agentqms-artifacts, validate-path-usage

refactor(agentqms): Phase 4 complete, Phase 5 WIP.
  AgentQMS/.agentqms/settings.yaml
  AgentQMS/AGENTS.yaml
  AgentQMS/bin/Makefile
  AgentQMS/bin/monitor-token-usage.py
  AgentQMS/cli.py
  AgentQMS/standards/architecture_map.dot
  AgentQMS/standards/registry.yaml
  AgentQMS/standards/tier2-framework/context-keywords.yaml
  AgentQMS/standards/tier3-agents/ollama-models.yaml
  AgentQMS/tools/resolve_standards.py
  airflow-batch-processor/AI_OPS.json
  airflow-batch-processor/dag_runs.json
  airflow-batch-processor/scripts/check_dag_status.py
  airflow-batch-processor/skills/airflow_bridge_ops/SKILL.md
  airflow-batch-processor/skills/airflow_bridge_ops/config.json
  airflow-batch-processor/src/api_clients/upstage.py
Due: forbid-pip-install, validate-path-usage

Phase 5 Complete: Target State Achievement - AgentQMS v2.0
  .pre-commit-config.yaml
  docs/artifacts/implementation_plans/registry-automation-PHASE5-COMPLETE.md
Due: validate-agentqms-artifacts

Phase 6.5-6.6 Complete: Mechanized Architecture + Functional Decoupling
  AgentQMS/.agentqms/effective.yaml
  AgentQMS/.agentqms/schemas/artifact_type_validation.yaml
  AgentQMS/bin/aqms
  AgentQMS/standards/.ads_cache.pickle
  AgentQMS/standards/architecture_map.dot
  AgentQMS/tools/bloat_detector.py
  AgentQMS/tools/core/plugins/loader.py
  AgentQMS/tools/core/plugins/validation.py
  AgentQMS/tools/generate_mechanized_graph.py
  AgentQMS/tools/sync_registry.py
  docs/artifacts/implementation_plans/2026-01-27_1430_implementation_plan_phase-6.5-mechanized-architecture.md
  docs/artifacts/implementation_plans/2026-01-27_1430_implementation_plan_phase-6.6-functional-decoupling.md
Due: validate-agentqms-artifacts, validate-path-usage

Path conditions:
  validate-agentqms-artifacts: any of: ^docs/artifacts/.*\.md$, but not: /(archive|walkthroughs)/
  ads-compliance-check: any of: ^\AgentQMS/standards/(tier1-sst|tier2-framework)/.*\.yaml$
  forbid-pip-install: any of: ^(scripts/.*\.(sh|py)|AgentQMS/bin/Makefile)$
  validate-feature-first-architecture: any of: ^ocr/.*\.py$
  validate-path-usage: any of: \.py$
